@charset "UTF-8";
/*--Colors--/*/
/*/*/
/*-----LISTAS----/*/
/*/-------------------------------------*/
/*- categoria mujer--*/
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Bebas Neue", cursive;
  overflow-x: hidden;
  background: url(/IMAGENESProyect/pexels-leo-caldas-9557619.jpg);
  background-repeat: repeat;
  background-size: 100% 100%;
  background-position: center;
}

body ul {
  list-style: none;
}

body a {
  text-decoration: none;
  color: inherit;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
}

@media only screen and (min-width: 480px) and (max-width: 1024px) {
  header {
    width: 100%;
  }
}

header .presentacion {
  background: linear-gradient(40deg, #1441d2 21%, #f6813f 40%, #ced082 60%);
  width: 100%;
  height: 30px;
  background-clip: 200% 200%;
  position: relative;
  -webkit-animation: degradado 8s ease-in-out infinite;
          animation: degradado 8s ease-in-out infinite;
}

header .presentacion .presentacion_texto {
  font-size: 1rem;
  font-style: italic;
  text-align: center;
  color: #fcf2f2;
  letter-spacing: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@-webkit-keyframes degradado {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes degradado {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

header nav .logoTitulo {
  font-family: "Bebas Neue", cursive;
  font-size: 2rem;
  background-color: black;
  text-align: left;
  color: #ffba79;
  width: 80%;
  letter-spacing: 1px;
  word-spacing: 10px;
}

@media only screen and (min-width: 480px) and (max-width: 1024px) {
  header nav .logoTitulo {
    font-size: 1.5rem;
    overflow-x: visible;
  }
}

@media only screen and (min-width: 480px) and (max-width: 1024px) {
  header nav {
    width: 100%;
    margin: auto;
  }
}

header .navbar .baka {
  list-style: none;
  position: relative;
  color: #f7d3d3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  height: 20px;
}

header .navbar .baka .submenuBaka {
  display: none;
  position: absolute;
  list-style: none;
  background-color: white;
}

header .navbar .baka .submenuBaka:hover {
  display: block;
  text-align: left;
}

header .navbar .baka .submenuBaka li {
  display: inline-block;
  left: 0;
  list-style: none;
  position: relative;
}

header .navbar .baka .submenuBaka li:hover {
  display: block;
  text-align: left;
}

main .encabezado {
  background-color: black;
  padding-top: 50px;
  padding-bottom: 10%;
  height: 100px;
  width: 100%;
  display: inline-block;
}

@media (min-width: 480px) and (max-width: 1024px) {
  main .encabezado {
    width: 100%;
    height: 300px;
  }
}

main .encabezado .encabezado-h1 {
  text-align: center;
  color: #f7d3d3;
}

main .encabezado .encabezado-h1__textoLorem {
  font-size: 1rem;
  text-align: center;
  color: #fcf2f2;
  font-stretch: expanded;
}

@media (min-width: 480px) and (max-width: 1024px) {
  main .encabezado .encabezado-h1__textoLorem .encabezado-h1__textoLorem {
    text-align: center;
  }
}

main .manIndex {
  padding-top: 5%;
}

@media (min-width: 480px) and (max-width: 1024px) {
  main .manIndex .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

main .manIndex__h2 {
  height: 49.6px;
  text-align: center;
  color: black;
  background-color: #fada72;
  border-radius: 3px;
}

@media (min-width: 480px) and (max-width: 1024px) {
  main .manIndex__h2 {
    width: 100%;
    height: 90px;
  }
}

main .manIndex .contenedorMan {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 480px) and (max-width: 1024px) {
  main .manIndex .contenedorMan .contenedorMan {
    position: relative;
  }
}

main .manIndex .contenedorMan figure {
  position: relative;
  width: 250px;
  height: 300px;
  overflow: hidden;
  border-radius: 4px;
  -webkit-box-shadow: 0px ,10px,22px;
          box-shadow: 0px ,10px,22px;
  cursor: pointer;
  -webkit-box-shadow: 0px, 10px, 22px black;
          box-shadow: 0px, 10px, 22px black;
}

main .manIndex .contenedorMan figure:hover > .capa {
  opacity: 1;
  visibility: visible;
}

main .manIndex .contenedorMan figure:hover > .h3 {
  margin-top: 60px;
  margin-bottom: 20px;
}

main .manIndex .contenedorMan figure img {
  width: 100%;
  height: 100%;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}

main .manIndex .contenedorMan figure .capa {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background: rgba(102, 97, 104, 0.6);
  text-align: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}

main .manIndex .contenedorMan figure .capa:hover {
  visibility: visible;
  opacity: 1;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  padding-top: 80px;
}

main .manIndex .contenedorMan figure .capa h3 {
  margin-bottom: 20px;
  color: #ffebff;
  font-weight: 400px;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}

main .manIndex .contenedorMan figure .capa h3:hover > .h3 {
  margin-top: 60px;
  margin-bottom: 20px;
}

main .manIndex .contenedorMan figure .capa p {
  color: silver;
  font-size: 15px;
  line-height: 1.5;
  width: 100%;
  max-width: 100%;
  margin: auto;
}

main .kidIndex {
  padding-top: 52px;
}

@media (min-width: 480px) and (max-width: 1024px) {
  main .kidIndex .kidIndex__h2 {
    width: 100%;
    height: 300px;
  }
}

main .kidIndex__h2 {
  height: 49.6px;
  text-align: center;
  color: black;
  background-color: #fada72;
  border-radius: 3px;
}

@media (min-width: 480px) and (max-width: 1024px) {
  main .kidIndex__h2 {
    width: 100%;
    text-align: center;
  }
}

main .kidIndex__contenedor {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (min-width: 480px) and (max-width: 1024px) {
  main .kidIndex__contenedor .kidIndex__contenedor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

main .kidIndex__contenedor__imag {
  border-radius: 80%;
  width: 400px;
  height: 400px;
}

@media (min-width: 480px) and (max-width: 1024px) {
  main .kidIndex__contenedor__imag {
    width: 300px;
    height: 350px;
  }
}

main .kidIndex__niñoDescripcion {
  padding: 32px;
  font-size: 1rem;
  text-align: center;
  color: #fcf2f2;
}

main .womanIndex {
  padding-top: 52px;
  margin: 10px;
  width: 100%;
}

main .womanIndex__contenedor {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33% 33% 33%;
      grid-template-columns: 33% 33% 33%;
  margin: 60px 0px;
  justify-items: center;
      grid-template-areas: "item1" "item2" "item3";
}

main .womanIndex__contenedor_1 {
  grid-area: "item1";
}

@media (min-width: 480px) and (max-width: 1024px) {
  main .womanIndex__contenedor_1 {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

main .womanIndex__contenedor_2 {
  grid-area: "item2";
}

@media (min-width: 480px) and (max-width: 1024px) {
  main .womanIndex__contenedor_2 {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

main .womanIndex__contenedor_3 {
  grid-area: "item3";
}

@media (min-width: 480px) and (max-width: 1024px) {
  main .womanIndex__contenedor_3 {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media (min-width: 480px) and (max-width: 1024px) {
  main .womanIndex__contenedor .womanIndex__contenedor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: wrap;
            flex-direction: wrap;
  }
}

main .womanIndex__ropa {
  width: 300px;
  height: 300px;
}

@media (min-width: 480px) and (max-width: 1024px) {
  main .womanIndex__ropa {
    width: 200px;
    height: 300px;
    border-radius: 5px;
  }
}

main .container-fluid .textProducts {
  color: #fcf2f2;
  padding: 80px;
  font-size: 3rem;
}

@media (min-width: 480px) and (max-width: 1024px) {
  main .container-fluid .textProducts {
    font-size: 3rem;
    text-align: center;
  }
}

main .container-fluid .tablaTodo {
  width: 100%;
  color: #fcf2f2;
  padding: 100%;
}

main .container-fluid .tablaProducts__model {
  margin: 10px;
  padding-top: 5%;
  height: 350px;
  color: black;
}

@media (min-width: 480px) and (max-width: 1024px) {
  main .container-fluid .tablaProducts__model {
    width: 200px;
    height: 200px;
  }
}

main ul {
  list-style: none;
}

main a {
  text-decoration: none;
  color: inherit;
}

main .boton {
  display: inline-block;
  overflow: hidden;
  position: relative;
  background: #100f0f;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  border-radius: 5%;
  color: #ffebff;
  cursor: pointer;
  height: 49.6px;
  width: 100px;
  border: none;
}

main .boton::before {
  content: "";
  display: block;
  position: absolute;
  background: linear-gradient(40deg, #1441d2 21%, #f6813f 40%, #ced082 60%);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.53, 0.21, 0, 1);
  transition: -webkit-transform 0.6s cubic-bezier(0.53, 0.21, 0, 1);
  transition: transform 0.6s cubic-bezier(0.53, 0.21, 0, 1);
  transition: transform 0.6s cubic-bezier(0.53, 0.21, 0, 1), -webkit-transform 0.6s cubic-bezier(0.53, 0.21, 0, 1);
}

main .boton:hover {
  position: relative;
  -webkit-transition: color 0.6s cubic-bezier(0.53, 0.21, 0, 1);
  transition: color 0.6s cubic-bezier(0.53, 0.21, 0, 1);
}

main .boton:hover::before {
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

main .boton:hover::before {
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

main .boton span {
  position: relative;
  -webkit-transition: color 0.6s cubic-bezier(0.53, 0.21, 0, 1);
  transition: color 0.6s cubic-bezier(0.53, 0.21, 0, 1);
}

main .boton span:hover {
  color: #f7d3d3;
}

main .boton:hover > span {
  color: #f7d3d3;
}

main .sectionThree {
  padding-top: 2%;
}

main .sectionThree__subtitle {
  letter-spacing: 3px;
  font-size: 20px;
  border-radius: 8px;
  color: white;
  background-color: black;
}

main .sectionThree_parrafoStyle {
  color: #ffebff;
  font-size: 2rem;
  padding: 5%;
  text-align: center;
  background: linear-gradient(40deg, #1441d2 21%, #f6813f 40%, #ced082 60%);
  background-size: 200% auto;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: shine 5s linear infinite;
          animation: shine 5s linear infinite;
}

@-webkit-keyframes shine {
  to {
    background-position: 200% center;
  }
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

main .sectionThree__modelsMan {
  padding-top: 34px;
  padding-bottom: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-left: 30px;
  -ms-flex-line-pack: center;
      align-content: center;
}

main .sectionThree__modelsMan .fotoBig {
  position: relative;
  height: 400px;
}

main .sectionThree__modelsMan .fotoBig h5 {
  color: #fcf2f2;
  font-size: 0.8rem;
  font-style: oblique;
  text-transform: capitalize;
  font-weight: lighter;
}

main .sectionThree__modelsMan .fotoBig div {
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}

main .sectionThree__modelsMan .fotoBig div:hover > .fotoBig_capa {
  opacity: 1;
  top: 90%;
  visibility: visible;
}

main .sectionThree__modelsMan .fotoBig div .sectionThree__basis {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -ms-flex-preferred-size: 500px;
      flex-basis: 500px;
  height: 400px;
}

main .sectionThree__modelsMan .fotoBig div .sectionThree__basis:hover {
  -webkit-box-shadow: 10px 10px 5px grey;
          box-shadow: 10px 10px 5px grey;
  -ms-flex-preferred-size: 550px;
      flex-basis: 550px;
  -webkit-transform: translate(0, -7px);
          transform: translate(0, -7px);
  border: black;
}

main .sectionThree__modelsMan .fotoBig div .fotoBig_capa {
  background: rgba(102, 97, 104, 0.6);
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: start;
  opacity: 0;
  visibility: hidden;
}

main .sectionThree__modelsMan .vl {
  border-left: 10px solid #726066;
  height: 400px;
}

main .sectionThree__modelsMan .Fotos {
  position: relative;
  height: 250px;
  border: 1px black;
  font-weight: bold;
}

main .sectionThree__modelsMan .Fotos h5 {
  color: #fcf2f2;
  font-size: 0.8rem;
  font-style: oblique;
  text-transform: capitalize;
  font-weight: lighter;
}

main .sectionThree__modelsMan .Fotos div {
  overflow: hidden;
  position: relative;
  border-radius: 4px;
}

main .sectionThree__modelsMan .Fotos div:hover > .Fotos__capa {
  opacity: 1;
  visibility: visible;
  top: 90%;
}

main .sectionThree__modelsMan .Fotos div:hover > .sectionThree__imageh {
  height: 20rem;
  width: 15rem;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

main .sectionThree__modelsMan .Fotos div .sectionThree__imageh {
  width: 200px;
  height: 300px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}

main .sectionThree__modelsMan .Fotos div .Fotos__capa {
  background: rgba(102, 97, 104, 0.6);
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0;
  visibility: hidden;
}

main .contenedorCalzado__subtitulo {
  text-align: center;
  padding: 15vh;
}

main .contenedorCalzado__urbans {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 30%;
      grid-template-columns: 30% 30%;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -webkit-column-gap: 12px;
          column-gap: 12px;
  row-gap: 20px;
  margin: 40px 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
      grid-template-areas: "item1" "item2" "item3" "item4";
}

main .contenedorCalzado__urbans .contenedorCalzado__adidas {
  grid-area: "item1";
}

main .contenedorCalzado__urbans .contenedorCalzado__adidas-2 {
  grid-area: "item2";
}

main .contenedorCalzado__urbans .contenedorCalzado__nike {
  grid-area: "item3";
}

main .contenedorCalzado__urbans .contenedorCalzado__newBalance {
  grid-area: "item4";
}

main .contenedorCalzado__urbans .cards {
  overflow: hidden;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-box-shadow: 0 2px 4px #726066;
          box-shadow: 0 2px 4px #726066;
  border-radius: 8px;
}

main .contenedorCalzado__urbans .cards:hover {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  -webkit-box-shadow: 0, 12px, 16px #726066;
          box-shadow: 0, 12px, 16px #726066;
}

main .contenedorCalzado__urbans .cards .contenedorCalzado__shoe {
  width: 350px;
  height: 300px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-top: 20px;
}

main .sectionTwo__subtitle {
  letter-spacing: 3px;
  font-size: 20px;
  border-radius: 8px;
  color: #fcf2f2;
  background-color: black;
}

main .sectionTwo__carouselImag {
  border-radius: 10%;
  width: 250px;
  height: 500px;
}

main .sectionTwo__womanRopa {
  width: 250px;
  height: 450px;
}

.sectionFour {
  padding-bottom: 5%;
}

.sectionFour__japon {
  width: 400px;
  height: 400px;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}

.sectionFour__japon:hover {
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  border: black;
  width: 350px;
  height: 350px;
  -webkit-transform: translate(0, -7px);
          transform: translate(0, -7px);
}

.sectionFour__subtitle {
  color: #fcf2f2;
  background-color: black;
}

.sectionFour__parrafo_style {
  font-size: 2rem;
  padding: 5%;
  text-align: center;
  text-transform: capitalize;
}

.sectionFour__gridColeccion {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 40%;
      grid-template-columns: 40% 40%;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-column-gap: 5%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 60px 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.sectionFour__gridColeccion_foto {
  position: relative;
  height: 500px;
}

.sectionFour__gridColeccion_foto div {
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 4px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sectionFour__gridColeccion_foto div:hover {
  opacity: 1;
  visibility: visible;
}

.sectionFour__gridColeccion_foto div .gridColeccion_foto__capa {
  position: absolute;
  background: rgba(205, 255, 226, 0.6);
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  top: 0;
  width: 400px;
  height: 100%;
  text-align: start;
  opacity: 0;
  visibility: hidden;
}

.sectionFour__gridColeccion_foto div .gridColeccion_foto__capa:hover {
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  opacity: 1;
  visibility: visible;
  top: 9%;
  width: 350px;
  height: 350px;
  -webkit-transform: translate(0, -7px);
          transform: translate(0, -7px);
}

.formulary {
  padding-top: 20%;
  padding-bottom: 300px;
  position: relative;
}

.formulary .line-wipe {
  background: linear-gradient(40deg, #1441d2 21%, #f6813f 40%, #ced082 60%);
  background-size: 200% auto;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: shine 5s linear infinite;
          animation: shine 5s linear infinite;
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

.formulary__style {
  background: linear-gradient(40deg, #1441d2 21%, #f6813f 40%, #ced082 60%);
  position: absolute;
  width: 300px;
  text-align: center;
  padding-bottom: 10%;
  font-size: 20px;
  border-radius: 5%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
/*# sourceMappingURL=main.css.map */