@charset "UTF-8";
/*--Colors--/*/
/*/paleta nueva de colores*/
/*/*/
/*-----LISTAS----/*/
/*/-------------------------------------*/
/*- categoria mujer--*/
/*/*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
body header {
  top: 0;
  width: 100%;
}

@media screen and (max-width: 480px) {
  body header {
    width: 100%;
  }
}

body header .presentacion {
  background: -webkit-gradient(linear, left top, right top, color-stop(5%, #333231), color-stop(56%, #a7535a), to(#f8f4e8));
  background: linear-gradient(90deg, #333231 5%, #a7535a 56%, #f8f4e8 100%);
  width: 100%;
  height: 30px;
  background-clip: 200% 200%;
  position: relative;
  -webkit-animation: degradado 8s ease-in-out infinite;
          animation: degradado 8s ease-in-out infinite;
}

body header .presentacion .presentacion_texto {
  text-transform: capitalize;
  font-size: 1rem;
  font-style: italic;
  text-align: center;
  color: #fcf2f2;
  letter-spacing: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@-webkit-keyframes degradado {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes degradado {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body header nav .active:hover a {
  color: black !important;
}

body header nav .nav-item:hover a {
  color: black !important;
}

body header nav .logoTitulo {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  background-color: #f9f8fb;
  text-align: left;
  width: 80%;
  color: #333231;
  letter-spacing: 1px;
  word-spacing: 10px;
}

@media screen and (max-width: 480px) {
  body header nav .logoTitulo {
    font-size: 1.5rem;
    overflow-x: visible;
  }
}

@media (min-width: 480px) and (max-width: 1024px) {
  body header nav {
    width: 100%;
    margin: auto;
  }
}

body header nav .navBar .baka {
  list-style: none;
  position: relative;
  color: #f7d3d3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  text-align: center;
}

body header nav .navBar .baka .submenuBaka {
  display: none;
  position: absolute;
  list-style: none;
  background-color: white;
}

@media screen and (max-width: 480px) {
  body header nav .navBar .baka .submenuBaka {
    display: none;
    overflow: hidden;
  }
}

body header nav .navBar .baka .submenuBaka:hover {
  display: block;
  text-align: left;
}

body header nav .navBar .baka .submenuBaka li {
  display: inline-block;
  left: 0;
  list-style: none;
  position: relative;
}

body header nav .navBar .baka .submenuBaka li:hover {
  display: block;
  text-align: left;
  color: #fcf2f2;
}

body main .encabezado {
  background-color: black;
  padding-top: 50px;
  padding-bottom: 10%;
  height: 250px;
  width: 100%;
}

@media screen and (max-width: 480px) {
  body main .encabezado {
    width: 100%;
    height: 250px;
    text-align: center;
  }
}

@media (min-width: 480px) and (max-width: 1024px) {
  body main .encabezado {
    height: 300px;
  }
}

body main .encabezado div {
  display: block;
  overflow: hidden;
  white-space: nowrap;
}

body main .encabezado div span {
  color: #f9f8fb;
  font-weight: lighter;
}

body main .encabezado div .encabezado-h1 {
  text-align: center;
  color: #f7d3d3;
}

@media screen and (max-width: 480px) {
  body main .encabezado div .encabezado-h1 {
    font-size: 20px;
  }
}

@media (min-width: 480px) and (max-width: 1024px) {
  body main .encabezado div .encabezado-h1 {
    font-size: 2.5rem;
  }
}

body main .encabezado div:first-of-type {
  -webkit-animation: showup 7s infinite;
          animation: showup 7s infinite;
}

body main .encabezado div:last-of-type {
  width: 0px;
  -webkit-animation: reveal 7s infinite;
          animation: reveal 7s infinite;
  margin: 0 auto;
  text-align: center;
}

body main .encabezado div:last-of-type span {
  margin-left: -355px;
  -webkit-animation: slidein 7s infinite;
          animation: slidein 7s infinite;
}

@-webkit-keyframes showup {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes showup {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes slidein {
  0% {
    margin-left: -800px;
  }
  20% {
    margin-left: -800px;
  }
  35% {
    margin-left: 0px;
  }
  100% {
    margin-left: 0px;
  }
}

@keyframes slidein {
  0% {
    margin-left: -800px;
  }
  20% {
    margin-left: -800px;
  }
  35% {
    margin-left: 0px;
  }
  100% {
    margin-left: 0px;
  }
}

@-webkit-keyframes reveal {
  0% {
    opacity: 0;
    width: 0px;
  }
  20% {
    opacity: 1;
    width: 0px;
  }
  30% {
    width: 355px;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 355px;
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    width: 0px;
  }
  20% {
    opacity: 1;
    width: 0px;
  }
  30% {
    width: 355px;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 355px;
  }
}

body main .manIndex {
  padding-top: 5%;
  margin: 0 auto;
  width: 100%;
}

@media screen and (max-width: 480px) {
  body main .manIndex {
    width: 100%;
  }
}

@media (min-width: 480px) and (max-width: 1024px) {
  body main .manIndex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
  }
}

body main .manIndex .container-fluid .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 480px) {
  body main .manIndex .container-fluid .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

body main .manIndex .container-fluid .row .manIndex__h2 {
  height: 49.6px;
  text-align: center;
  color: black;
  background-color: #fada72;
  border-radius: 3px;
}

@media (min-width: 480px) and (max-width: 1024px) {
  body main .manIndex .container-fluid .row .manIndex__h2 {
    width: 100%;
    height: 90px;
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  body main .manIndex .container-fluid .row .manIndex__h2 {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    padding: 20px;
  }
}

body main .manIndex .contenedor-box {
  width: 100%;
  height: 500px;
}

@media screen and (max-width: 480px) {
  body main .manIndex .contenedor-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

body main .manIndex .contenedor-box .row {
  row-gap: 20px;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  position: relative;
}

body main .manIndex .contenedor-box .row .manIndex__title {
  height: 400px;
}

@media screen and (max-width: 480px) {
  body main .manIndex .contenedor-box .row .manIndex__title {
    height: 200px;
    margin: 0 auto;
  }
}

@media (min-width: 480px) and (max-width: 1024px) {
  body main .manIndex .contenedor-box .row .manIndex__title {
    width: 400px;
    height: 200px;
  }
}

body main .manIndex .contenedor-box .row .manIndex__parrafo {
  display: block;
  margin: 20px;
  height: 100px;
}

body main .manIndex .contenedor-box .row #box-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-size: 2.5rem;
}

body main .manIndex .contenedor-box .row .manIndex__imagen {
  height: 400px;
}

@media (min-width: 480px) and (max-width: 1024px) {
  body main .manIndex .contenedor-box .row .manIndex__imagen {
    width: 400px;
    height: 400px;
  }
}

body main .manIndex .contenedor-box .row .contenedorBox {
  position: relative;
  background: linear-gradient(141deg, #ccc 25%, #eee 40%, #ddd 55%);
  -webkit-perspective: 1000;
          perspective: 1000;
  font-style: Thin 100 italic;
  --borderWidth: 8px;
  border-radius: var(--borderWidth);
}

@media screen and (max-width: 480px) {
  body main .manIndex .contenedor-box .row .contenedorBox {
    width: 250px;
  }
}

body main .manIndex .contenedor-box .row .contenedorBox:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #a4a4a4, #a7535a, #333231, #f8f4e8);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  -webkit-animation: animatedgradient 3s ease alternate infinite;
          animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
  opacity: 30%;
}

@-webkit-keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body main .manIndex .contenedor-box .contenedorMan {
  width: 100%;
  background: transparent;
  padding: 2rem;
}

@media screen and (max-width: 480px) {
  body main .manIndex .contenedor-box .contenedorMan {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-bottom: 50px;
  }
}

@media (min-width: 480px) and (max-width: 1024px) {
  body main .manIndex .contenedor-box .contenedorMan {
    position: relative;
    padding-bottom: 5%;
  }
}

body main .manIndex .contenedor-box .contenedorMan figure {
  margin: 0 auto;
  position: relative;
  width: 250px;
  height: 300px;
  overflow: hidden;
  border-radius: 4px;
  -webkit-box-shadow: 0px ,10px,22px;
          box-shadow: 0px ,10px,22px;
  cursor: pointer;
  -webkit-box-shadow: 0px, 10px, 22px black;
          box-shadow: 0px, 10px, 22px black;
}

@media screen and (max-width: 480px) {
  body main .manIndex .contenedor-box .contenedorMan figure {
    height: 300px;
  }
}

@media (min-width: 480px) and (max-width: 1024px) {
  body main .manIndex .contenedor-box .contenedorMan figure {
    height: 400px;
  }
}

body main .manIndex .contenedor-box .contenedorMan figure:hover > .capa {
  opacity: 1;
  visibility: visible;
}

body main .manIndex .contenedor-box .contenedorMan figure:hover > .h3 {
  margin-top: 60px;
  margin-bottom: 20px;
}

body main .manIndex .contenedor-box .contenedorMan figure img {
  width: 100%;
  height: 100%;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}

@media (min-width: 480px) and (max-width: 1024px) {
  body main .manIndex .contenedor-box .contenedorMan figure img {
    width: 300px;
    height: 400px;
    position: relative;
    top: 2%;
  }
}

body main .manIndex .contenedor-box .contenedorMan figure .capa {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background: rgba(102, 97, 104, 0.6);
  text-align: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}

@media screen and (max-width: 480px) {
  body main .manIndex .contenedor-box .contenedorMan figure .capa {
    height: 300px;
  }
}

body main .manIndex .contenedor-box .contenedorMan figure .capa:hover {
  visibility: visible;
  opacity: 1;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  padding-top: 80px;
}

body main .manIndex .contenedor-box .contenedorMan figure .capa h3 {
  margin-bottom: 20px;
  color: #ffebff;
  font-weight: 400px;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}

body main .manIndex .contenedor-box .contenedorMan figure .capa h3:hover > .h3 {
  margin-top: 60px;
  margin-bottom: 20px;
}

body main .manIndex .contenedor-box .contenedorMan figure .capa p {
  color: silver;
  font-size: 15px;
  line-height: 1.5;
  width: 100%;
  max-width: 100%;
  margin: auto;
}

body .kidIndex {
  padding-top: 52px;
  position: relative;
}

@media screen and (max-width: 480px) {
  body .kidIndex__box {
    padding-top: 100px;
  }
}

body .kidIndex .kidIndex__title {
  height: 200px;
}

@media (min-width: 480px) and (max-width: 1024px) {
  body .kidIndex .kidIndex__title {
    margin: 40px 40px;
  }
}

body .kidIndex .kid-box {
  position: relative;
  background: linear-gradient(141deg, #ccc 25%, #eee 40%, #ddd 55%);
  -webkit-perspective: 1000;
          perspective: 1000;
  font-style: Thin 100 italic;
  --borderWidth: 4px;
  border-radius: var(--borderWidth);
}

@media screen and (max-width: 480px) {
  body .kidIndex .kid-box {
    height: 50px;
    margin: 20px 20px;
  }
}

@media (min-width: 480px) and (max-width: 1024px) {
  body .kidIndex .kid-box {
    margin: 0 auto;
    height: 150px;
  }
}

body .kidIndex .kid-box:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #a4a4a4, #a7535a, #333231, #f8f4e8);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  -webkit-animation: animatedgradient 3s ease alternate infinite;
          animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
  opacity: 30%;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media screen and (max-width: 480px) {
  body .kidIndex {
    width: 100%;
    padding-top: 50px;
  }
}

body .kidIndex__h2 {
  height: 49.6px;
}

@media screen and (max-width: 480px) {
  body .kidIndex__h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    padding: 20px;
  }
}

body .kidIndex__contenedor {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media screen and (max-width: 480px) {
  body .kidIndex__contenedor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 50px;
  }
}

@media (min-width: 480px) and (max-width: 1024px) {
  body .kidIndex__contenedor {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 50px;
            column-gap: 50px;
    grid-column: 30% 30%;
  }
}

body .kidIndex__contenedor-1 {
  position: relative;
  overflow: hidden;
}

body .kidIndex__contenedor-1:hover > .kidIndex__capa h3 {
  margin-top: 100px;
}

body .kidIndex__contenedor-1 .kidIndex__contenedor__imag-1 {
  width: 400px;
  height: 400px;
  -webkit-transform: translate(0px);
          transform: translate(0px);
}

@media screen and (max-width: 480px) {
  body .kidIndex__contenedor-1 .kidIndex__contenedor__imag-1 {
    width: 250px;
    height: 200px;
  }
}

@media (min-width: 480px) and (max-width: 1024px) {
  body .kidIndex__contenedor-1 .kidIndex__contenedor__imag-1 {
    width: 300px;
    height: 300px;
  }
}

body .kidIndex__contenedor-1:hover > .kidIndex__capa {
  opacity: 1;
  visibility: visible;
}

body .kidIndex__contenedor-1 .kidIndex__capa {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background: rgba(102, 97, 104, 0.6);
  text-align: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}

body .kidIndex__contenedor-1 .kidIndex__capa:hover {
  visibility: visible;
  opacity: 1;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}

body .kidIndex__contenedor-1 .kidIndex__capa h3 {
  margin-bottom: 20px;
  color: #ffebff;
  font-weight: 400px;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}

body .kidIndex__contenedor-1 .kidIndex__capa h3:hover {
  margin-top: 100px;
}

body .kidIndex__contenedor-2 {
  position: relative;
  overflow: hidden;
}

body .kidIndex__contenedor-2:hover > .kidIndex__capa-2 h3 {
  margin-top: 100px;
}

body .kidIndex__contenedor-2 .kidIndex__contenedor__imag-2 {
  width: 400px;
  height: 400px;
  -webkit-transform: translate(0px);
          transform: translate(0px);
}

@media screen and (max-width: 480px) {
  body .kidIndex__contenedor-2 .kidIndex__contenedor__imag-2 {
    width: 250px;
    height: 200px;
  }
}

@media (min-width: 480px) and (max-width: 1024px) {
  body .kidIndex__contenedor-2 .kidIndex__contenedor__imag-2 {
    width: 300px;
    height: 300px;
  }
}

body .kidIndex__contenedor-2:hover > .kidIndex__capa-2 {
  opacity: 1;
  visibility: visible;
}

body .kidIndex__contenedor-2 .kidIndex__capa-2 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background: rgba(102, 97, 104, 0.6);
  text-align: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}

body .kidIndex__contenedor-2 .kidIndex__capa-2:hover {
  visibility: visible;
  opacity: 1;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  cursor: pointer;
}

body .kidIndex__contenedor-2 .kidIndex__capa-2 h3 {
  margin-bottom: 20px;
  color: #ffebff;
  font-weight: 400px;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}

body .kidIndex__contenedor-2 .kidIndex__capa-2 h3:hover {
  margin-top: 100px;
}

body .kidIndex__niñoDescripcion {
  padding: 32px;
  font-size: 1rem;
  text-align: center;
  color: black;
}

body .womanIndex {
  padding-top: 52px;
  margin: 10px;
  width: 100%;
  color: black;
}

@media (min-width: 480px) and (max-width: 1024px) {
  body .womanIndex {
    margin: 0 auto;
  }
}

@media screen and (max-width: 480px) {
  body .womanIndex div p {
    font-size: 2.5vh;
    text-align: center;
    margin: 12px;
  }
}

body .womanIndex .womanIndex__ropa {
  margin: 0 auto;
  height: 500px;
}

@media screen and (max-width: 480px) {
  body .womanIndex .womanIndex__ropa {
    width: 200px;
    height: 200px;
    border-radius: 5px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 480px) and (max-width: 1024px) {
  body .womanIndex .womanIndex__ropa {
    width: 300px;
    height: 300px;
  }
}

body .womanIndex__contenedor {
  width: 100%;
  text-align: center;
      grid-template-areas: "item1" "item2" "item3";
}

@media screen and (max-width: 480px) {
  body .womanIndex__contenedor {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 20% 20% 20%;
        grid-template-rows: 20% 20% 20%;
    -webkit-column-gap: 40px;
            column-gap: 40px;
  }
}

@media (min-width: 480px) and (max-width: 1024px) {
  body .womanIndex__contenedor {
    width: 100%;
    height: 500px;
  }
}

body .womanIndex__contenedor_1 {
  grid-area: "item1";
  word-spacing: 50px;
  letter-spacing: 5px;
  font-size: 1rem;
}

@media screen and (max-width: 480px) {
  body .womanIndex__contenedor_1 {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

body .womanIndex_2 {
  grid-area: "item2";
}

@media screen and (max-width: 480px) {
  body .womanIndex_2 {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

body .womanIndex_3 {
  grid-area: "item3";
}

@media screen and (max-width: 480px) {
  body .womanIndex_3 {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

body .container-fluid .textProducts {
  color: #a4a4a4;
  padding: 80px;
  font-size: 3rem;
}

@media screen and (max-width: 480px) {
  body .container-fluid .textProducts {
    font-size: 2rem;
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  body .container-fluid table {
    font-size: 15px;
    display: block;
    text-align: left;
  }
}

body .container-fluid .tablaTodo {
  width: 100%;
  color: #fcf2f2;
  padding: 100%;
}

body .container-fluid .tablaProducts__model {
  margin: 10px;
  padding-top: 5%;
  height: 350px;
  color: black;
}

@media screen and (max-width: 480px) {
  body .container-fluid .tablaProducts__model {
    width: 150px;
    height: 150px;
  }
}

body .banner {
  text-align: center;
  position: static;
}

body ul {
  list-style: none;
}

body a {
  text-decoration: none;
  color: inherit;
}

@media (min-width: 480px) and (max-width: 1024px) {
  body hr {
    padding: 50px;
    color: transparent;
  }
}

body .boton_footer {
  background: -webkit-gradient(linear, left top, right top, color-stop(5%, #333231), color-stop(56%, #a7535a), to(#f8f4e8));
  background: linear-gradient(90deg, #333231 5%, #a7535a 56%, #f8f4e8 100%);
  border: none;
}

body .boton {
  display: inline-block;
  overflow: hidden;
  position: relative;
  background: #100f0f;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  border-radius: 5%;
  color: #ffebff;
  cursor: pointer;
  width: 100px;
  border: none;
}

@media screen and (max-width: 480px) {
  body .boton {
    display: visible;
  }
}

body .boton::before {
  content: "";
  display: block;
  position: absolute;
  background: -webkit-gradient(linear, left top, right top, color-stop(5%, #333231), color-stop(56%, #a7535a), to(#f8f4e8));
  background: linear-gradient(90deg, #333231 5%, #a7535a 56%, #f8f4e8 100%);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.53, 0.21, 0, 1);
  transition: -webkit-transform 0.6s cubic-bezier(0.53, 0.21, 0, 1);
  transition: transform 0.6s cubic-bezier(0.53, 0.21, 0, 1);
  transition: transform 0.6s cubic-bezier(0.53, 0.21, 0, 1), -webkit-transform 0.6s cubic-bezier(0.53, 0.21, 0, 1);
}

body .boton:hover {
  position: relative;
  -webkit-transition: color 0.6s cubic-bezier(0.53, 0.21, 0, 1);
  transition: color 0.6s cubic-bezier(0.53, 0.21, 0, 1);
}

body .boton:hover::before {
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

body .boton:hover::before {
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

body .boton span {
  position: relative;
  -webkit-transition: color 0.6s cubic-bezier(0.53, 0.21, 0, 1);
  transition: color 0.6s cubic-bezier(0.53, 0.21, 0, 1);
}

body .boton span:hover {
  color: #f7d3d3;
}

body .boton:hover > span {
  color: #f7d3d3;
}

main .sectionThree {
  padding-top: 2%;
  position: relative;
}

@media screen and (max-width: 480px) {
  main .sectionThree {
    width: 100%;
  }
}

main .sectionThree__subtitle {
  letter-spacing: 1px;
  font-size: 1rem;
  color: #f9f8fb;
  text-align: center;
}

main .sectionThree__parrafoStyle {
  font-size: 2rem;
  padding: 5%;
  text-align: center;
  text-transform: capitalize;
  background: -webkit-gradient(linear, left top, right top, color-stop(5%, #333231), color-stop(56%, #a7535a), to(#f8f4e8));
  background: linear-gradient(90deg, #333231 5%, #a7535a 56%, #f8f4e8 100%);
  background-size: 200% auto;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: shine 5s linear infinite;
          animation: shine 5s linear infinite;
}

@media screen and (max-width: 480px) {
  main .sectionThree__parrafoStyle {
    padding-top: 30px;
    font-size: 1.5rem;
  }
}

@-webkit-keyframes shine {
  to {
    background-position: 200% center;
  }
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

main .sectionThree .skewed {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 30%;
  background: #a4a4a4;
  z-index: -1;
  -webkit-transform: skewY(0deg);
          transform: skewY(0deg);
  -webkit-transform-origin: top right;
          transform-origin: top right;
}

@media screen and (max-width: 480px) {
  main .sectionThree .skewed {
    height: 300px;
    z-index: -1;
  }
}

@media (min-width: 480px) and (max-width: 1024px) {
  main .sectionThree .skewed {
    height: 350px;
    z-index: -1;
  }
}

main .sectionThree__modelsMan {
  row-gap: 20px;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  margin: 0 auto;
  padding-top: 34px;
  padding-bottom: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
}

@media screen and (max-width: 480px) {
  main .sectionThree__modelsMan {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    justify-items: center;
  }
}

@media (min-width: 480px) and (max-width: 1024px) {
  main .sectionThree__modelsMan {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    row-gap: 20px;
    -webkit-column-gap: 40px;
            column-gap: 40px;
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

main .sectionThree__modelsMan .fotoBig {
  position: relative;
  background: #f9f8fb;
  padding: 20px;
  width: 30%;
}

@media screen and (max-width: 480px) {
  main .sectionThree__modelsMan .fotoBig {
    padding-bottom: 50px;
    width: 100%;
    height: 300px;
    margin: 5px 5px;
  }
}

@media (min-width: 480px) and (max-width: 1024px) {
  main .sectionThree__modelsMan .fotoBig {
    width: 50%;
  }
}

main .sectionThree__modelsMan .fotoBig h5 {
  color: #333231;
  font-size: 0.9rem;
  font-style: oblique;
  text-transform: capitalize;
  font-weight: bold;
}

main .sectionThree__modelsMan .fotoBig div {
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}

main .sectionThree__modelsMan .fotoBig div:hover > .fotoBig_capa {
  opacity: 1;
  top: 90%;
  visibility: visible;
}

main .sectionThree__modelsMan .fotoBig div .sectionThree__basis {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -ms-flex-preferred-size: 500px;
      flex-basis: 500px;
  height: 400px;
}

@media screen and (max-width: 480px) {
  main .sectionThree__modelsMan .fotoBig div .sectionThree__basis {
    width: 250px;
    height: 200px;
    padding-bottom: 15%;
  }
}

@media (min-width: 480px) and (max-width: 1024px) {
  main .sectionThree__modelsMan .fotoBig div .sectionThree__basis {
    height: 350px;
  }
}

main .sectionThree__modelsMan .fotoBig div .sectionThree__basis:hover {
  -webkit-box-shadow: 10px 10px 5px grey;
          box-shadow: 10px 10px 5px grey;
  -ms-flex-preferred-size: 550px;
      flex-basis: 550px;
  -webkit-transform: translate(0, -7px);
          transform: translate(0, -7px);
}

main .sectionThree__modelsMan .fotoBig div .fotoBig_capa {
  background: rgba(102, 97, 104, 0.6);
  color: #f9f8fb;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  position: absolute;
  top: 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 100%;
  text-align: start;
  opacity: 0;
  visibility: hidden;
}

@media screen and (max-width: 480px) {
  main .sectionThree__modelsMan .fotoBig div .fotoBig_capa {
    width: 250px;
    height: 200px;
  }
}

@media (min-width: 480px) and (max-width: 1024px) {
  main .sectionThree__modelsMan .fotoBig div .fotoBig_capa {
    height: 350px;
  }
}

main .sectionThree__modelsMan .Fotos {
  position: relative;
  width: 20%;
  height: 400px;
  background: #f9f8fb;
  padding: 20px;
}

main .sectionThree__modelsMan .Fotos:hover {
  border: 1px solid black;
}

@media screen and (max-width: 480px) {
  main .sectionThree__modelsMan .Fotos {
    padding-bottom: 50px;
    width: 100%;
    height: 300px;
    margin: 5px 5px;
  }
}

@media (min-width: 480px) and (max-width: 1024px) {
  main .sectionThree__modelsMan .Fotos {
    width: 50%;
  }
}

main .sectionThree__modelsMan .Fotos h5 {
  color: #333231;
  font-size: 0.9rem;
  font-style: oblique;
  text-transform: capitalize;
  font-weight: bold;
}

main .sectionThree__modelsMan .Fotos div {
  overflow: hidden;
  position: relative;
  border-radius: 4px;
}

main .sectionThree__modelsMan .Fotos div:hover > .Fotos__capa {
  opacity: 1;
  visibility: visible;
  top: 90%;
}

main .sectionThree__modelsMan .Fotos div:hover > .sectionThree__imageh {
  -webkit-transform: translate(0, -7px);
          transform: translate(0, -7px);
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

main .sectionThree__modelsMan .Fotos div .sectionThree__imageh {
  width: 200px;
  height: 300px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}

@media screen and (max-width: 480px) {
  main .sectionThree__modelsMan .Fotos div .sectionThree__imageh {
    height: 200px;
  }
}

main .sectionThree__modelsMan .Fotos div .Fotos__capa {
  background: rgba(102, 97, 104, 0.6);
  color: #f9f8fb;
  font-weight: bold;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  position: absolute;
  top: 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 100%;
  text-align: center;
  opacity: 0;
  visibility: hidden;
}

@media screen and (max-width: 480px) {
  main .sectionThree__modelsMan .Fotos div .Fotos__capa {
    width: 200px;
    height: 200px;
  }
}

@media screen and (max-width: 480px) {
  main .contenedorCalzado {
    width: 100%;
    margin-right: 100px;
  }
}

main .contenedorCalzado .h-divider {
  color: #111111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: border-bottom .2s ease-in-out;
  transition: border-bottom .2s ease-in-out;
}

main .contenedorCalzado .h-divider::before, main .contenedorCalzado .h-divider::after {
  content: '';
  display: block;
  height: 0.30em;
  min-width: 30vw;
  border-bottom: 1px solid #a4a4a4;
}

main .contenedorCalzado__subtitulo {
  text-align: center;
  width: 100%;
  text-transform: capitalize;
  padding: 5vh;
  text-rendering: optimizeLegibility;
  font-weight: bolder;
}

@media screen and (max-width: 480px) {
  main .contenedorCalzado__subtitulo {
    font-size: 1rem;
  }
}

main .contenedorCalzado__urbans {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 30%;
      grid-template-columns: 30% 30%;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -webkit-column-gap: 12px;
          column-gap: 12px;
  row-gap: 20px;
  margin: 40px 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
      grid-template-areas: "item1" "item2" "item3" "item4";
}

@media screen and (max-width: 480px) {
  main .contenedorCalzado__urbans {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 10px;
            column-gap: 10px;
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

main .contenedorCalzado__urbans .contenedorCalzado__adidas {
  grid-area: "item1";
}

main .contenedorCalzado__urbans .contenedorCalzado__adidas-2 {
  grid-area: "item2";
}

main .contenedorCalzado__urbans .contenedorCalzado__nike {
  grid-area: "item3";
}

main .contenedorCalzado__urbans .contenedorCalzado__newBalance {
  grid-area: "item4";
}

main .contenedorCalzado__urbans .card {
  background: transparent;
}

main .contenedorCalzado__urbans .cards {
  overflow: hidden;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-box-shadow: 0 2px 4px #726066;
          box-shadow: 0 2px 4px #726066;
  border-radius: 8px;
}

@media screen and (max-width: 480px) {
  main .contenedorCalzado__urbans .cards {
    height: 250px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    overflow: scroll;
  }
}

main .contenedorCalzado__urbans .cards:hover {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  -webkit-box-shadow: 0, 12px, 16px #726066;
          box-shadow: 0, 12px, 16px #726066;
}

main .contenedorCalzado__urbans .cards .contenedorCalzado__shoe {
  width: 350px;
  height: 300px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-top: 20px;
}

@media screen and (max-width: 480px) {
  main .contenedorCalzado__urbans .cards .contenedorCalzado__shoe {
    width: 150px;
    height: 150px;
  }
}

main .sectionTwo_subtitle {
  letter-spacing: 3px;
  font-size: 20px;
  border-radius: 8px;
  padding-bottom: 50px;
  color: #a4a4a4;
}

main .sectionTwo__carouselImag {
  border-radius: 10%;
  width: 250px;
  height: 500px;
}

main .sectionTwo__womanRopa {
  width: 250px;
  height: 450px;
}

.sectionFour {
  width: 100%;
}

.sectionFour__subtitle {
  color: #a4a4a4;
  text-align: center;
}

.sectionFour__parrafo_style {
  font-size: 2rem;
  padding: 5%;
  text-align: center;
  text-transform: capitalize;
  text-transform: capitalize;
  background: -webkit-gradient(linear, left top, right top, color-stop(5%, #333231), color-stop(56%, #a7535a), to(#f8f4e8));
  background: linear-gradient(90deg, #333231 5%, #a7535a 56%, #f8f4e8 100%);
  background-size: 200% auto;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: shine 5s linear infinite;
          animation: shine 5s linear infinite;
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

.sectionFour__Coleccion {
  position: relative;
  margin: 0 auto;
  width: 800px;
  height: 533px;
}

@media screen and (max-width: 480px) {
  .sectionFour__Coleccion {
    max-width: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 300px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 50px;
  }
}

@media (min-width: 480px) and (max-width: 1024px) {
  .sectionFour__Coleccion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 100px;
    max-width: 400px;
  }
}

.sectionFour__Coleccion:hover > .fotoAfter {
  width: 100%;
}

.sectionFour__Coleccion .fotoAfter {
  width: 0;
  -webkit-transition: 3s;
  transition: 3s;
  overflow: hidden;
}

.sectionFour__Coleccion .fotoAfter:hover {
  width: 100%;
}

.sectionFour__Coleccion .ColeccionBox {
  position: absolute;
  top: 0;
  left: 0;
}

.sectionFour__Coleccion .ColeccionBox .japon_foto {
  width: 800px;
  height: 500px;
  margin: 0 auto;
}

@media screen and (max-width: 480px) {
  .sectionFour__Coleccion .ColeccionBox .japon_foto {
    width: 250px;
    height: 300px;
  }
}

@media (min-width: 480px) and (max-width: 1024px) {
  .sectionFour__Coleccion .ColeccionBox .japon_foto {
    width: 400px;
    height: 500px;
  }
}

.formulary {
  padding-top: 20%;
  padding-bottom: 500px;
  position: relative;
}

.formulary__title {
  display: block;
  margin: 0;
}

.formulary__title p {
  color: #333231;
  font-weight: bolder;
}

@media screen and (max-width: 480px) {
  .formulary__title {
    position: absolute;
    top: 0;
    left: 0;
    height: 300px;
  }
}

@media (min-width: 480px) and (max-width: 1024px) {
  .formulary__title {
    position: absolute;
    top: 0;
    left: 0;
    height: 300px;
    text-align: center;
    width: 100%;
  }
}

.formulary__title .line-wipe {
  background: -webkit-gradient(linear, left top, right top, color-stop(5%, #333231), color-stop(56%, #a7535a), to(#f8f4e8));
  background: linear-gradient(90deg, #333231 5%, #a7535a 56%, #f8f4e8 100%);
  background-size: 200% auto;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: shine 5s linear infinite;
          animation: shine 5s linear infinite;
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

.formulary__style {
  background: -webkit-gradient(linear, left top, right top, color-stop(5%, #333231), color-stop(56%, #a7535a), to(#f8f4e8));
  background: linear-gradient(90deg, #333231 5%, #a7535a 56%, #f8f4e8 100%);
  position: absolute;
  width: 300px;
  text-align: center;
  padding-bottom: 10%;
  font-size: 20px;
  border-radius: 5%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (max-width: 480px) {
  .formulary__style {
    margin-top: 50px;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-style: Thin 100 italic;
  background: linear-gradient(141deg, #ccc 25%, #eee 40%, #ddd 55%);
  -webkit-perspective: 1000;
          perspective: 1000;
  font-style: Thin 100 italic;
  color: #555;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

body .nav .active:hover a {
  color: black !important;
}

body .nav .nav-item:hover a {
  color: black !important;
}

body .logoTitulo {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  background-color: #f9f8fb;
  text-align: left;
  width: 80%;
  color: #a4a4a4;
  letter-spacing: 1px;
  word-spacing: 10px;
}

@media screen and (max-width: 480px) {
  body .logoTitulo {
    font-size: 1.5rem;
    overflow-x: visible;
  }
}

body ul {
  list-style: none;
}

body a {
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 480px) {
  body hr {
    display: none;
  }
}

body .boton_footer {
  background: -webkit-gradient(linear, left top, right top, color-stop(5%, #333231), color-stop(56%, #a7535a), to(#f8f4e8));
  background: linear-gradient(90deg, #333231 5%, #a7535a 56%, #f8f4e8 100%);
  border: none;
}

body .nav-link {
  color: #333231;
  font-weight: bold;
}

body .nav-item {
  color: #333231;
  font-weight: bold;
}

body .navbar-toggler {
  color: #333231;
  border-color: #a4a4a4;
}

body .navbar-toggler .navbar-toggler-icon {
  color: black;
}
/*# sourceMappingURL=main.css.map */