
@mixin text($estilo,$alineacion,$color,$ancho) {
    font-style: $estilo;
    text-align: $alineacion;
    color: $color;
    width: $ancho;
    font-size: large;
    background: linear-gradient($color-gradiente);
    background-clip:text;
    -webkit-text-fill-color: transparent;
}
@mixin navIndex($letraEspacio,$palabraEspacio){
    letter-spacing: $letraEspacio;
    word-spacing: $palabraEspacio;
}
@mixin logoTitulo($letra,$size,$fondo,$alineacion,$ancho) {
    font-family: $letra;
    font-size: $size;
    background-color: $fondo;
    text-align:$alineacion;
    width: $ancho;
}
@mixin menuIndex($display,$espacio,$ancho,$alineacion) {
    display: $display;
    justify-content: $espacio;
    width: $ancho;
    text-align: $alineacion;
}
@mixin presentacionTexto($size,$estilo,$alineacion,$color,$espaciado,$posicion,$arriba,$derecha,$transformacion){
    font-size:$size;
    font-style: $estilo;
    text-align: $alineacion;
    color:$color;
    letter-spacing: $espaciado;
    position: $posicion;
    top:$arriba;
    left: $derecha;
    transform: $transformacion;
}
@mixin presentacion ($ancho,$alto,$fondoSize,$posicion,){
    width: $ancho;
    height: $alto;
    background-clip: $fondoSize;
    position: $posicion;
}
@mixin contenedor-nav($display,$jt-cont,$jt-it){
    $display:$display;
    $justify-content:$jt-cont;
    $justify-items:$jt-it;
}
@mixin anima ($nombre,$time,$metodo,$duracion){
    animation: $nombre $time $metodo $duracion;
}
@mixin keyframes($degradado){
    @-webkit-keyframes #{$degradado} {
        @content; 
    }
    @-moz-keyframes #{$degradado} {
        @content;
    }
    @-ms-keyframes #{$degradado} {
        @content;
    }
    @keyframes #{$degradado} {
        @content;
    } 
}
@mixin menus($lista,$position,$color) {
    list-style: $lista;
    position: $position;
    color: $color;
}
@mixin submenus($display,$posicion,$lista,$bg-color) {
    display: $display;
    position: $posicion;
    list-style: $lista;
    background-color: $bg-color;
}
@mixin lista($display,$izquierda,$lista,$posicion){
    display: $display;
    left:$izquierda;
    list-style: $lista;
    position: $posicion;
}
@mixin encabezado_content($bg-color,$relleno-t,$relleno-b,$alto,$ancho) {
    background-color: $bg-color;
    padding-top: $relleno-t;
    padding-bottom: $relleno-b;
    height:$alto;
    width: $ancho;
}
@mixin encabezado_h1($alineacion,$color){
    text-align: $alineacion;
    color:$color;
}
@mixin lorem($size,$align,$color,$strech) {
    font-size: $size;
    text-align:$align ;
    color:$color ;
    font-stretch: $strech;

}
@mixin man-h2($alto,$alineacion,$color,$bg-color,$border) {
    height: $alto;
    text-align: $alineacion;
    color: $color;
    background-color: $bg-color;
    border-radius: $border;
}
@mixin  contenedor-man($ancho) {
    width:$ancho;
    
}
@mixin figura($posicion,$ancho,$alto,$desbordamiento,) {
    position: $posicion;
    width: $ancho;
    height: $alto;
    overflow: $desbordamiento;
    border-radius: 4px;
    box-shadow: 0px ,10px,22px ;
    cursor: pointer;
    box-shadow: 0px ,10px,22px rgba(0, 0,0,50);
}

@mixin transicion ($transition) {
    transition: $transition;
}
@mixin capa($posicion,$top,$bg,$alineacion,$opacidad,$visibilidad) {
    position:$posicion;
    top: $top;
    background: $bg;
    text-align: $alineacion;
    opacity: $opacidad;
    visibility: $visibilidad;
}
@mixin hover-capa ($visibilidad,$opacidad,){
    visibility: $visibilidad;
    opacity: $opacidad;
}
@mixin h3 ($margen,$color,$font-w,){
    margin-bottom: $margen;
    color: $color;
    font-weight: $font-w;
}
@mixin p ($color,$font-s,$line-h,$ancho,$max-ancho,$margen){
    color: $color;
    font-size: $font-s;
    line-height: $line-h;
    width: $ancho;
    max-width: $max-ancho;
    margin: $margen;
}
@mixin kid-h2 ($alto){
    height: $alto;
    
}
@mixin kid-contenedor ($relleno,$display,$flex,$justify){
    padding-top: $relleno;
    display: $display;
    flex-wrap: $flex;
    justify-content: $justify;
}
@mixin kid-descripcion ($relleno,$size,$align,$color) {
    padding: $relleno;
    font-size: $size;
    text-align: $align;
    color:$color;
}
@mixin kidImag($ancho,$alto) {
    width: $ancho;
    height:$alto;
}
@mixin womanContenedor ($display,$columns,$margen,$items) {
    display: $display;
    grid-template-columns: $columns;
    margin: $margen;
    justify-items: $items;
    
}
@mixin p-woman ($espaciado,$espaciado-l,$size,){
    word-spacing: $espaciado;
    letter-spacing: $espaciado-l;
    font-size: $size;

}
@mixin formulario($relleno,$relleno-b) {
    padding-top: $relleno;
    padding-bottom: $relleno-b;
    
}
@mixin formulario-style($alineacion,$relleno,$font-s,$border,$posicion,$top,$left) {
    text-align: $alineacion;
    padding-top: $relleno;
    font-size: $font-s;
    border-radius: $border;
    position: $posicion;
    top:$top;
    left:$left;

}
@mixin model-tabla($margen,$relleno,$alto,$color) {
    margin: $margen;
    padding-top: $relleno;
    height: $alto;
    color: $color;
}
@mixin subtitleCategories($espaciado,$size,$color){
    letter-spacing: $espaciado;
    font-size: $size;
    color: $color;
    text-align: center;
}
@mixin parrafo-style ($letra,$relleno) {
    font-size: $letra;
    padding: $relleno;
    text-align: center;
    text-transform: capitalize;
}
@mixin modelsMan ($relleno-t,$relleno-b,$display,$justify,$alineacion) {
    padding-top: $relleno-t;
    padding-bottom: $relleno-b;
    display: $display;
    justify-content: $justify;
    align-content: $alineacion;
}
@mixin  Basis ($transition) {
    transition: $transition;
}
@mixin sectionBasis ($basis,$alto) {
    flex-basis: $basis;
    height: $alto;
}

@mixin calzado_subtitulo ($alineacion,$ancho,$transformacion,$relleno) {
    text-align: $alineacion;
    width: $ancho;
    text-transform: $transformacion;
    padding: $relleno;
  
}
@mixin imagenBasis ($sombra,$basis,$transformacion){
    box-shadow: $sombra;
    flex-basis: $basis;
    transform: $transformacion;
   
}
@mixin transicionBasis ($transition){
    transition: ($transition);
}
@mixin transicionCapa ($transition) {
    transition: $transition;
}



@mixin  h5 ($size,$estilo,$transformacion,$peso){
    font-size: $size;
    font-style: $estilo;
    text-transform: $transformacion;
    font-weight: $peso;
}
@mixin big-capa ($posicion,$top,$ancho,$alto,$alineacion,$opacidad,$visibilidad){
    position: $posicion;
    top: $top;
    width: $ancho;
    height: $alto;
    text-align: $alineacion;
    opacity: $opacidad;
    visibility: $visibilidad;
}
@mixin imageh-capa ($posicion,$top,$ancho,$alto,$alineacion,$opacidad,$visibilidad){
    position: $posicion;
    top: $top;
    width: $ancho;
    height: $alto;
    text-align: $alineacion;
    opacity: $opacidad;
    visibility: $visibilidad;
}

@mixin hoverMans ($opacidad,$visibilidad,$top) {
    opacity: $opacidad;
    visibility: $visibilidad;
    top: $top;
}



@mixin fotos ($alto,$borde,$peso) {
    height: $alto;
    border: $borde;
    font-weight: $peso;
}
@mixin imageh ($ancho,$alto,$alineacion){
    width: $ancho;
    height: $alto;
    align-self: $alineacion;

}
@mixin imagehHover($alto,$ancho,$borde,$transformacion) {
    height: $alto;
    width: $ancho;
    border: $borde;
    transform: $transformacion;
}
@mixin urbans($columns,$filas,$column-g,$fila-g,$margen,$justify) {
    grid-template-columns: $columns;
    grid-template-rows: $filas;
    column-gap: $column-g;
    row-gap: $fila-g;
    margin: $margen;
    justify-content: $justify;

}
@mixin boxShadow($shadow,$borde){
    box-shadow: $shadow;
    border-radius: $borde;
}
@mixin shoes ($ancho,$alto,$alineacion,$relleno-t) {
    width: $ancho;
    height: $alto;
    align-self: $alineacion;
    padding-top: $relleno-t;
}



/*/-------------------------------------*/
@mixin boton($border,$color,$cursor,$ancho,$borde) {
    border-radius: $border;
    color: $color;
    cursor: $cursor;
    width: $ancho;
    border: $borde;
}
@mixin botonBefore($top,$izquierda,$ancho,$alto,$transformacion,$transformacion-o){
    top: $top;
    left: $izquierda;
    width: $ancho;
    height: $alto;
    transform: $transformacion;
    transform-origin: $transformacion-o;
    
}
@mixin mujer-subtitle ($spacing,$size,$radius) {
    letter-spacing: $spacing;
    font-size: $size;
    border-radius: $radius;
    
}

@mixin hover-japon ($ancho,$alto,$transformacion) {
    width: $ancho;
    height: $alto;
    transform: $transformacion;
}
@mixin coleccion-hover ($opacidad,$visibilidad,$top,$ancho,$alto,$transformacion) {
    opacity: $opacidad;
    visibility: $visibilidad;
    top: $top;
    width: $ancho;
    height: $alto;
    transform: $transformacion;
}
@mixin coleccion-capa ($top,$ancho,$alto,$alineacion,$opacidad,$visibilidad) {
    top: $top;
    width: $ancho;
    height: $alto;
    text-align: $alineacion;
    opacity: $opacidad;
    visibility: $visibilidad;
    
}
@mixin formulario($relleno-t,$relleno-b) {
    padding-top: $relleno-t;
    padding-bottom:$relleno-b;
}
@mixin formulario_style ($alineacion,$relleno-t,$size,$borde,$top,$left,$transformacion) {
    text-align: $alineacion;
    padding-bottom: $relleno-t;
    font-size: $size;
    border-radius: $borde;
    top: $top;
    left: $left;
    transform: $transformacion;
    
}
@mixin line-wipe ($bg-size,$bg-clip,$text-fill) {
    background-size: $bg-size;
    background-clip: $bg-clip;
    -webkit-text-fill-color: $text-fill;
}
@mixin keyframe ($property){
    @-webkit-keyframes #{$property} {
        @content;
    }
    
    @-moz-keyframes #{$property} {
        @content;
    }
    
    @-o-keyframes #{$property} {
        @content;
    }
    @keyframes #{$property} {
        @content;
      }
}
@mixin backgroundBody ($background,$persepctive) {
    background: $background;
    perspective: $persepctive;
    font-style:Thin 100 italic;
    
}
@mixin box-col ($display,$alineacion,$justify,$size){
    display: $display;
    align-items: $alineacion;
    justify-items: $justify;
    font-size: $size;
}
%designed{
    background-color: inherit;
    color: #FFFFFF;
    display: none;

    padding: 10px 20px;
    left: -25px;
    position: absolute;
    top:-50px;
}
%before{
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #777777;
    bottom: -6px;
    content: "";
    height: 0;
    left: 50%;
    margin-left: -4px;
    position: absolute;
    width: 0;
}
%hover-designed{
    display: block;
}



