

$max-basis:100%;
$min-basis:$max-basis/2;

$max-width:100%;
$min-margin:100%/10;


 /*- categoria mujer--*/
$width-max:250px;
$height-min:250px*2;


/*/*/
$width-papach:100%;
$height-papach:400px;

$size-figure:$height-papach/2;
