*{
    margin:0;
    padding:0;
}


body{

    overflow-x: hidden;
    background-image: url(IMAGENESProyect/pexels-leo-caldas-9557619.jpg);
    background-repeat: repeat;
    background-size: 100% 100%;
    background-position: center;
    font-family: 'Bebas Neue', cursive;

}
.presentacion{
    width:100%;
    height: 30px;
    background: linear-gradient(40deg, rgba(20,65,210,1) 21%, rgba(246,129,63,1) 56%, rgba(206,208,130,1) 75%);
    background-size: 200% 200%;
    position: relative;
    animation: degradado 8s ease-in-out infinite;
}
@keyframes degradado{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}


.presentacion_texto{
    font-size: 1rem;
    font-style: italic;
    text-align: center;
    color: rgb(253, 253, 253) ;
    letter-spacing: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}



header{
    position: sticky;
    top: 0;
    width: 100%;
}

.logoTitulo{
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
    color: #ffba79;
    text-align: left;
}

nav{
    letter-spacing: 1px;
    word-spacing: 10px;
    text-align: center;
    
}
.contenedor-nav{
    display: flex;
    justify-content: space-evenly;
    justify-items: center;

}
.baka{
    list-style: none;   
    position: relative;
    color: rgb(255, 255, 255);

}
.submenuBaka{
    display: none;
    position: absolute;
    list-style: none;
    background-color: rgb(252, 225, 255);
    
    
}
.submenuBaka li{
    display: inline-block;
    left: 0;
    list-style: none;
    position: relative;

    
}
.baka li:hover .submenuBaka{
    display: block;
    text-align: left;
}
.logoTitulo{
    font-family: 'Bebas Neue', cursive;
    background-color: rgb(16, 12, 12);
    font-size: 2rem;
    color: #ffba79;
    text-align: left;
    width: 80%;
    
}
.encabezado{
    background-color: black;
    padding-top: 50px;
    padding-bottom: 10%;
    height: 100px;
    width: 100%;
    display: inline-block;
}
.encabezado-h1{
    text-align: center;
    color: rgb(247, 211, 211);

}
.encabezado-h1__textoLorem{
    font-size: 1rem;
    text-align: center;
    color: white;
    font-stretch: expanded;
    
}

/*-------------------hombre index------------------/*/
.manIndex{
    padding-top: 5%;
}
.manIndex__h2{
    height: 49.6px;
    text-align: center;
    color: black;
    background-color: rgb(250, 218, 114);
    border-radius: 3px;
}

.contenedorMan{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50vh;
}
.contenedorMan figure{
    position: relative;
    height: 300px;
    width: 250px;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 0px ,10px,22px rgb(0, 0, 0,0,50);
    cursor: pointer;
}
.contenedorMan figure img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}
.contenedorMan figure .capa{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background:rgba(235, 170, 85, 0.6) ;
    transition: all 500ms ease-out;
    text-align: center;
    opacity: 0;
    visibility: hidden;
}

.contenedorMan figure:hover >.capa{
    opacity: 1;
    visibility: visible;

}
.contenedorMan figure:hover >.capa h3{
    margin-top: 60px;
    margin-bottom: 20px;
}
.contenedorMan figure .capa h3{
    margin-bottom: 20px;
    color: royalblue;
    font-weight: 400px;
    transition: all 500ms ease-out;
}
.contenedorMan figure .capa p{
    color: silver;
    font-size: 15px;
    line-height: 1.5;
    width: 100%;
    max-width: 220px;
    margin: auto;
}

/*/*/

/*boton estilo/*/
.boton {
    font-family: 'Bebas Neue',cursive;
    text-transform: capitalize;
	overflow: hidden;
    background: hsl(240, 11%, 2%);
    color: rgb(255, 255, 255);
    position: relative;
    display: inline-block;
    cursor: pointer;
    border: none;
    border-radius: 5%;
    width: 100px;
    height: 49.6px;

}

.boton span {
	position: relative;
	transition: color 0.6s cubic-bezier(0.53, 0.21, 0, 1);
}

.boton:before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(40deg, rgba(20,65,210,1) 21%, rgba(246,129,63,1) 56%, rgba(206,208,130,1) 75%);
	transform: scaleX(0);
	transform-origin: 100% 100%;
	transition: transform 0.6s cubic-bezier(0.53, 0.21, 0, 1);

}

.boton:hover::before {
	transform-origin: 0 0;
	transform: scaleX(1);

}

.boton:hover span {
	color: white;
}
/*/*/






/*kid index/*/
.kidIndex{
    padding-top: 52px;
}
.kidIndex__h2{
    height: 49.6px;
    text-align: center;
    color: black;
    background-color: rgb(250, 225, 114);
    border-radius: 3px;
}

.kidIndex__contenedor{
    padding-top: 50px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.kidIndex__niñoDescripcion{
    padding: 32px;
    font-size: 1rem;
    text-align: center;
    color: blanchedalmond;
}
.kidIndex__contenedor__imag{
    border-radius: 80%;
    width: 400px;
    height: 400px;
}

/*fin kid index/*/









/*/ categoria collecion japonesa*/
.coleccion_background{
    width: 100%;
    height: 150px;
    background-image: url(https://images.pexels.com/photos/9203141/pexels-photo-9203141.jpeg?cs=srgb&dl=pexels-%D0%B2%D0%BB%D0%B0%D0%B4%D0%B8%D1%81%D0%BB%D0%B0%D0%B2-%D1%84%D0%B8%D0%BB%D0%B8%D0%BF%D0%BF%D0%BE%D0%B2-9203141.jpg&fm=jpg);
    animation:  fondo 3s infinite linear alternate;
    position: relative;
}
@keyframes fondo{
    from{background-position: 0px;
    }to{background-position: 110px;}
    
}
.sectionFour{
    padding-bottom: 5%;
}
.sectionFour__subtitle{
    letter-spacing: 3px;   
    font-size: 20px;
    border-radius: 8px;
    color: rgb(252, 242, 242);
    background-color:rgb(0, 0, 0);
}
.sectionFour__parrafo_style{
    font-size: 1rem;
    padding: 5%;
    text-align: center;
}
.sectionFour__gridColeccion{
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: 1fr;
    grid-column-gap: 5%;
    justify-content: center;
    margin: 60px 20px;
    
}
.sectionFour__japon{
    width: 400px;
    height: 400px;
    justify-self: center;

}



/*FONDO ANIMADO & BOTON NOSOTROS/*/
.backgroundAnimated{
    width: 100%;
    height: 80px;
    border-top-left-radius: 80%;
    border-top-right-radius: 80%; 
    background-image: url(https://images.pexels.com/photos/9203141/pexels-photo-9203141.jpeg?cs=srgb&dl=pexels-%D0%B2%D0%BB%D0%B0%D0%B4%D0%B8%D1%81%D0%BB%D0%B0%D0%B2-%D1%84%D0%B8%D0%BB%D0%B8%D0%BF%D0%BF%D0%BE%D0%B2-9203141.jpg&fm=jpg);
    animation:  fondo 3s infinite linear alternate;
    position: relative;
}
@keyframes fondo{
    from{background-position: 0px;
    }to{background-position: 110px;}
    
}
.backgroundAnimated__botoNosotros{
    padding-top: 8%;
    margin-bottom: 10%;
    transform: skew(0deg, 10deg);
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%,-50%);
}













/*//---------------------CATEGORIA HOMBRE (1)INDUMENTARIA (2) CALZADO URBANO-------------------------------------------------/*/
.sectionThree{
    padding-top: 2%;
}
.sectionThree__subtitle{
    letter-spacing: 3px;   
    font-size: 20px;
    border-radius: 8px;
    color: rgb(252, 242, 242);
    background-color:rgb(0, 0, 0);
    
}
.sectionThree__parrafoStyle{
    font-size: 1rem;
    padding: 5%;
}

.sectionThree__modelsMan{
    padding-top: 34px;
    padding-bottom: 120px;
    display: flex;
    justify-content:space-evenly;
    margin-left:30px ;
    align-content: center;
}
.sectionThree__basis{
    margin: 2px;
    flex-basis: 500px;
    height: 400px;
}
.sectionThree__imageh{
    width: 200px;
    height: 300px;
    align-self: center;
}


/*---------------------------------2)calzado-----------------------------------------------------------------/*/

.contenedorCalzado_urbans{
    display: grid;
    grid-template-columns: 30% 30% ;
    grid-template-rows: 1fr 1fr ;
    column-gap: 12px;
    margin: 40px ,0px;  
    justify-content: center;
    grid-template-areas: "item1" "item2" "item3" "item4";

}

.contenedorCalzado__newBalance{
    grid-area: "item1";
}
.contenedorCalzado__nike{
    grid-area: "item2";
}
.contenedorCalzado__nike_two{
    grid-area: "item3";
}
.contenedorCalzado__adidas{
    grid-area: "item4";
}

.contenedorCalzado__shoe{
    width:300px;
    height:300px;
}






/*-----categoria mujer----------------------------/*/

.sectionTwo__subtitle{
    letter-spacing: 3px;   
    font-size: 20px;
    border-radius: 8px;
    color: rgb(252, 242, 242);
    background-color:rgb(0, 0, 0);

}
.sectionTwo__carouselImag{
    border-radius: 10%;
    width: 250px;
    height: 500px;
} 
.sectionTwo__womanRopa{
    width: 250px;
    height: 450px;
}

/*---------------------------/*/
.womanIndex{
    padding-top: 52px;
    margin: 10px;
    width: 100%;
}

.womanIndex__contenedor{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin: 60px 0px;
    justify-items: center;
    grid-template-areas: "item1" "item2" "item3";
}

.womanIndex__ropa{
    width: 300px;
    height: 300px;
}

.womanIndex__contenedor_1{
    grid-area: "item1";
}

.womanIndex__contenedor_2{
    grid-area: "item2";
}

.womanIndex__contenedor_3{
    grid-area: "item3";
}








/*---------------category kids--------------------------------------------------------/*/
.sectionOne


.sectionOne__parrafo_style{
    font-size: 1rem;
    padding: 5%;
}

.sectionOne__kids{
    padding-top: 34px;
    padding-bottom: 133px;
    display: flex;
    justify-content:space-around;
    margin-left:32px ;
    align-content: center;

}
.sectionOne__kids__imagenNiño{
    width: 300px;
    height: 300px;
    align-self: center;
    
}
/*---------------------------------------------------------/*/






/*--------------------formulario--------------------------------------------/*/
.formulary{
    padding-top: 20%;
    width: 100%;
    padding-bottom:300px; 
    position: relative;
}
.formulary__style{
    text-align: center;
    padding-top: 2%;
    font-size: 20px;
    background: linear-gradient(40deg, rgba(20,65,210,1) 21%, rgb(219, 114, 48) 56%, rgba(206,208,130,1) 75%);
    border-radius: 5%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%)
    
}






/*/-------------texto productos---------------*/

.textProducts{
    font-size: 3rem;
    color: rgba(  233,234,226);
    padding: 80px;
}
/*----------------------------tABLA INDEX-------------------------------------/*/
.tablaTodo{
    padding: 100px;
    width: 100%;
    color: blanchedalmond;
}

.tablaProducts__model{
    margin: 10px;
    padding-top: 5%;
    height: 350px;
    color: rgb(0, 0, 0);
}
/*-----------------------------------------------------------------/*/


/*eliminacion de subrayado y color de enlaces y listas/**/*
ul{
    list-style:none ;
    
}
a{
    text-decoration: none;
    color: inherit;
}
@media only screen and (min-width: 480px) and (max-width: 1024px){
    header{
        width: 100%;
    
    }
    header nav div form{
        height: 40px;
        font-size: 20px;
    }
    hr{
        color: transparent;
        padding: 40px;
    }
    .nav{
        width: 100%;
        margin: auto;
        
    }
    .logoTitulo{
        font-size: 1.5rem;
        overflow-x: visible;
    }
    .encabezado{
        width: 100%;
        height: 300px;
    }
    .encabezado-h1__textoLorem{
        text-align: center;
    }
    .manIndex .row {
        display: flex;
        justify-content: center;
        position: relative;
    }
    .manIndex div .col{
        display: flex;
        justify-items: center;
        width: 100%;
    }
    .manIndex__h2{
        text-align: center;
        width: 100%;
        height: 90px;
    }
    
    .contenedorMan{

        position: relative;

    }
    .contenedorMan figure img{
        width: 400px;
        height: 450px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .contenedorMan figure .capa{
        width: 400px;
        height: 300px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    /*-------------------/*/
    .kidIndex .row{
        display: flex;
        justify-items: center;
        position: relative;
    }
    .kidIndex__h2{
        text-align: center;
        width: 100%;
       
    }
    .kidIndex__boton{
        position: relative;
        display: flex;
    }

    .kidIndex__contenedor{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .kidIndex__contenedor__imag{
        width: 300px;
        height: 350px;
        
    }
    /*/*/
    .womanIndex{
        width: 100%;
    }
    .womanIndex__contenedor{
        display: flex;
        flex-direction: wrap;
        
        justify-content: space-evenly;
    }
    .womanIndex__contenedor_1{
        align-self: center;
    }
    .womanIndex__contenedor_2{
        align-self: center;
    }
    .womanIndex__contenedor_3{
        align-self: center;
    }
    .womanIndex__ropa{
        width: 200px;
        height: 300px;
        border-radius: 5px;
    }
    .formulary{
        width: 100%;

    }
    .formulary__style{
        width: 80%;
        height: 300px;
        overflow-y: scroll;
        text-overflow: ellipsis;
        font-size: 1rem;
    }
    .textProducts{
        font-size: 3rem;
        text-align: center;
    }
    .tablaProducts__model{
        width: 200px;
        height: 200px;
    }
}


@media only screen and (max-width: 480px){
    header{
        width: 100%;
    

    }
    header nav div form{
        height: 40px;
        font-size: 20px;
    }
    hr{
        color: transparent;
        padding: 40px;
    }
    .logoTitulo{
        font-size: 17px;
        padding: 7px;
        word-spacing: 1px;
        letter-spacing: 1px;
    }
    .nav{
        width: 100%;
        margin: auto;
        
    }
    .encabezado{
        text-overflow: ellipsis;
        height: 290px;
    }
    .encabezado-h1__textoLorem{
        text-align: center;
    }
    .manIndex .row {
        display: flex;
        justify-content: center;
        position: relative;
    }
    .manIndex__h2{
        display: flex;
        text-align: center;
        width: 100%;
        padding: 20px;
    }
    .manIndex .row div .boton{
    
        position:absolute ;
        top: 150%;
        left: 50%;
        transform: translate(-50%,-50%);
        height:20px;
    }
    .contenedorMan{
        padding-top: 30px;
        position: relative;

    }
    .contenedorMan figure img{
        width: 200px;
        height: 250px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .contenedorMan figure .capa{
        width: 200px;
        height: 250px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    /*-------------------/*/
    .kidIndex .row{
        display: flex;
        justify-items: center;
        position: relative;
    }
    .kidIndex__h2{
        display: flex;
        text-align: center;
        width: 50%;
        padding: 20px;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        position: absolute;
    }
    .kidIndex__boton{
        position: relative;
        display: flex;
    }
    .kidIndex .row div .boton{
        position:absolute ;
        top: 150%;
        left: 50%;
        transform: translate(-50%,-50%);
        height:20px;
        
    }
    

    .kidIndex__contenedor{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .kidIndex__contenedor__imag{
        width: 200px;
        height: 250px;
        
    }
    /*/*/
    .womanIndex{
        width: 100%;
    }
    .womanIndex__contenedor{
        display: flex;
        flex-direction: column;
        justify-items: center;
        justify-content: space-around;
    }
    .womanIndex__contenedor_1{
        align-self: center;
    }
    .womanIndex__contenedor_2{
        align-self: center;
    }
    .womanIndex__contenedor_3{
        align-self: center;
    }
    .womanIndex__ropa{
        width: 300px;
        height: 300px;
        border-radius: 5px;
    }
    .formulary{
        width: 100%;

    }
    .formulary__style{
        width: 80%;
        height: 300px;
        overflow-y: scroll;
        text-overflow: ellipsis;
        font-size: 10px;
    }
    .textProducts{
        font-size: 1rem;
    }
    .tablaProducts__model{
        width: 100px;
        height: 100px;
    }
}












