*{
    margin:0;
    padding:0;
}


body{
    font-family: 'Bebas Neue', cursive;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}
.presentacion{
    width:100%;
    height: 30px;
    background: linear-gradient(40deg, rgba(20,65,210,1) 21%, rgba(246,129,63,1) 56%, rgba(206,208,130,1) 75%);
    background-size: 200% 200%;
    position: relative;
    animation: degradado 8s ease-in-out infinite;
}
@keyframes degradado{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}


.presentacion_texto{
    font-size: 1rem;
    font-style: italic;
    text-align: center;
    color: rgb(253, 253, 253) ;
    letter-spacing: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}



header{
    position: sticky;
    top: 0;
    width: 100%;
}

.logoTitulo{
    font-family: 'Bebas Neue', cursive;
    background-color: rgb(16, 12, 12);
    font-size: 2rem;
    color: #ffba79;
    text-align: left;
}



nav{
    background-color: rgb(17, 11, 11);
    letter-spacing: 1px;
    word-spacing: 10px;
    text-align: center;
    
}
.contenedor-nav{
    display: flex;
    justify-content: space-evenly;
    justify-items: center;

}
.baka{
    list-style: none;   
    position: relative;
    color: rgb(255, 255, 255);

}
.submenuBaka{
    display: none;
    position: absolute;
    list-style: none;
    background-color: rgb(72, 78, 88);
    
    
}
.submenuBaka li{
    display: inline-block;
    left: 0;
    list-style: none;
    position: relative;

    
}
.baka li:hover .submenuBaka{
    display: block;
    text-align: left;
}
.logoTitulo{
    font-family: 'Bebas Neue', cursive;
    background-color: rgb(16, 12, 12);
    font-size: 2rem;
    color: #ffba79;
    text-align: left;
    width: 80%;
    
}
.encabezado-h1{
    text-align: center;
    color: rgb(247, 211, 211);
    background-color: black;
    padding-top: 4%;
    padding-bottom: 4%;
}
.encabezado-h1__textoLorem{
    display: inline-block;
    text-align: center;
}

/*-------------------hombre index------------------/*/
.manIndex

.manIndex__subtitle{
    letter-spacing: 3px;   
    font-size: 20px;
    border-radius: 8px;
    color: rgb(252, 242, 242);
    background-color:rgb(0, 0, 0);
}
.manIndex__content{
    position: relative;
    width: 800px;
    height: 800px;
    margin: auto;
}
.manIndex__content__imag{
    width: 700px;
    height: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10%;
}
/*/*/

/*boton estilo/*/
.boton {
    font-family: 'Bebas Neue',cursive;
    text-transform: capitalize;
	overflow: hidden;
    padding: 2px 22px;
    border-radius: 8px;
    background: linear-gradient(40deg, rgba(20,65,210,1) 21%, rgba(246,129,63,1) 56%, rgba(206,208,130,1) 75%);
    color: rgb(0, 0, 0);
    position: relative;
    display: inline-block;
    cursor: pointer;
    border: none;
    width: 100px;
}

.boton span {
	position: relative;
	transition: color 0.6s cubic-bezier(0.53, 0.21, 0, 1);
}

.boton:before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: hsl(240, 11%, 2%);
	transform: scaleX(0);
	transform-origin: 100% 100%;
	transition: transform 0.6s cubic-bezier(0.53, 0.21, 0, 1);

}

.boton:hover::before {
	transform-origin: 0 0;
	transform: scaleX(1);

}

.boton:hover span {
	color: white;
}
/*/*/






/*kid index/*/
.kidIndex{
    padding-top: 52px;
    margin: 20px;
    font-size: 3rem;
}

.kidIndex__subtitle{
    letter-spacing: 3px;   
    font-size: 20px;
    border-radius: 8px;
    color: rgb(252, 242, 242);
    background-color:rgb(0, 0, 0);

}
.kidIndex__contenedor{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.kidIndex__ni単oDescripcion{
    padding: 32px;
    font-size: 1rem;
    text-align: center;
}
.kidIndex__contenedor__imag{
    border-radius: 80%;
    width: 400px;
    height: 400px;
}

/*fin kid index/*/









/*/ categoria collecion japonesa*/
.coleccion_background{
    width: 100%;
    height: 150px;
    background-image: url(https://images.pexels.com/photos/9203141/pexels-photo-9203141.jpeg?cs=srgb&dl=pexels-%D0%B2%D0%BB%D0%B0%D0%B4%D0%B8%D1%81%D0%BB%D0%B0%D0%B2-%D1%84%D0%B8%D0%BB%D0%B8%D0%BF%D0%BF%D0%BE%D0%B2-9203141.jpg&fm=jpg);
    animation:  fondo 3s infinite linear alternate;
    position: relative;
}
@keyframes fondo{
    from{background-position: 0px;
    }to{background-position: 110px;}
    
}
.sectionFour{
    padding-bottom: 5%;
}
.sectionFour__subtitle{
    letter-spacing: 3px;   
    font-size: 20px;
    border-radius: 8px;
    color: rgb(252, 242, 242);
    background-color:rgb(0, 0, 0);
}
.sectionFour__parrafo_style{
    font-size: 1rem;
    padding: 5%;
}
.sectionFour__gridColeccion{
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: 1fr;
    grid-column-gap: 5%;
    justify-content: center;
    margin: 60px 20px;
    
}
.sectionFour__japon{
    width: 400px;
    height: 400px;
    justify-self: center;

}



/*FONDO ANIMADO & BOTON NOSOTROS/*/
.backgroundAnimated{
    width: 100%;
    height: 80px;
    border-top-left-radius: 80%;
    border-top-right-radius: 80%; 
    background-image: url(https://images.pexels.com/photos/9203141/pexels-photo-9203141.jpeg?cs=srgb&dl=pexels-%D0%B2%D0%BB%D0%B0%D0%B4%D0%B8%D1%81%D0%BB%D0%B0%D0%B2-%D1%84%D0%B8%D0%BB%D0%B8%D0%BF%D0%BF%D0%BE%D0%B2-9203141.jpg&fm=jpg);
    animation:  fondo 3s infinite linear alternate;
    position: relative;
}
@keyframes fondo{
    from{background-position: 0px;
    }to{background-position: 110px;}
    
}
.backgroundAnimated__botoNosotros{
    padding-top: 8%;
    margin-bottom: 10%;
    transform: skew(0deg, 10deg);
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%,-50%);
}













/*//---------------------CATEGORIA HOMBRE (1)INDUMENTARIA (2) CALZADO URBANO-------------------------------------------------/*/
.sectionThree{
    padding-top: 2%;
}
.sectionThree__subtitle{
    letter-spacing: 3px;   
    font-size: 20px;
    border-radius: 8px;
    color: rgb(252, 242, 242);
    background-color:rgb(0, 0, 0);
    
}
.sectionThree__parrafoStyle{
    font-size: 1rem;
    padding: 5%;
}

.sectionThree__modelsMan{
    padding-top: 34px;
    padding-bottom: 120px;
    display: flex;
    justify-content:space-evenly;
    margin-left:30px ;
    align-content: center;
}
.sectionThree__basis{
    margin: 2px;
    flex-basis: 500px;
    height: 400px;
}
.sectionThree__imageh{
    width: 200px;
    height: 300px;
    align-self: center;
}


/*---------------------------------2)calzado-----------------------------------------------------------------/*/

.contenedorCalzado_urbans{
    display: grid;
    grid-template-columns: 30% 30% ;
    grid-template-rows: 1fr 1fr ;
    column-gap: 12px;
    margin: 40px ,0px;  
    justify-content: center;
    grid-template-areas: "item1" "item2" "item3" "item4";

}

.contenedorCalzado__newBalance{
    grid-area: "item1";
}
.contenedorCalzado__nike{
    grid-area: "item2";
}
.contenedorCalzado__nike_two{
    grid-area: "item3";
}
.contenedorCalzado__adidas{
    grid-area: "item4";
}

.contenedorCalzado__shoe{
    width:300px;
    height:300px;
}



/*---------------------------fin categoria hombre----------------------------/*/






/*-----categoria mujer----------------------------/*/

.sectionTwo__subtitle{
    letter-spacing: 3px;   
    font-size: 20px;
    border-radius: 8px;
    color: rgb(252, 242, 242);
    background-color:rgb(0, 0, 0);

}
.sectionTwo__carouselImag{
    border-radius: 10%;
    width: 250px;
    height: 500px;
} 
.sectionTwo__womanRopa{
    width: 250px;
    height: 450px;
}

/*--------------mujer index------------------------------------------/*/
.womanIndex{
    padding-top: 52px;
    margin: 10px;
    font-size: 3rem;
}

.womanIndex__contenedor{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin: 60px 0px;
    justify-items: center;
    grid-template-areas: "item1" "item2" "item3";
}

.womanIndex__ropa{
    width: 300px;
    height: 300px;
}

.womanIndex__contenedor_1{
    grid-area: "item1";
}

.womanIndex__contenedor_2{
    grid-area: "item2";
}

.womanIndex__contenedor_3{
    grid-area: "item3";
}








/*//---------------category kids--------------------------------------------------------//*/
.sectionOne


.sectionOne__parrafo_style{
    font-size: 1rem;
    padding: 5%;
}

.sectionOne__kids{
    padding-top: 34px;
    padding-bottom: 133px;
    display: flex;
    justify-content:space-around;
    margin-left:32px ;
    align-content: center;

}
.sectionOne__kids__imagenNi単o{
    width: 300px;
    height: 300px;
    align-self: center;
    
}
/*---------------------------------------------------------/*/






/*--------------------formulario--------------------------------------------/*/
.formulary{
    padding: 5%;
}
.formulary__style{
    text-align: center;
    padding-top: 2%;
    font-size: 20px;
    background: linear-gradient(40deg, rgba(20,65,210,1) 21%, rgb(219, 114, 48) 56%, rgba(206,208,130,1) 75%);
    border-radius: 10%;
}






/*/-------------texto productos---------------*/

.textProducts{
    background-color:rgb(42,54,59) ;
    font-size: 3rem;
}
/*----------------------------tABLA INDEX-------------------------------------/*/

#tabla{
    font-size: 20px;
    padding-top: 12px;
}
.tablaProducts__model{
    margin: 10px;
    padding-top: 5%;
    height: 350px;
    color: rgb(0, 0, 0);
}
/*-----------------------------------------------------------------/*/

.contactos{
    background: linear-gradient(40deg, rgba(20,65,210,1) 21%, rgba(246,129,63,1) 56%, rgba(206,208,130,1) 75%);
    text-align: center;
    font-size: 1rem;
    color: azure;
    margin-bottom: -1%;
    padding-bottom: 50px;
}
.follow{
    font-size: 2rem;
    background: linear-gradient(40deg, rgba(20,65,210,1) 21%, rgba(246,129,63,1) 56%, rgba(206,208,130,1) 75%);
    color: azure;

}


/*eliminacion de subrayado y color de enlaces y listas/**/*
ul{
    list-style:none ;
    
}
a{
    text-decoration: none;
    color: inherit;
}

/*//*/


@media only screen and (min-width:1024px){
    .encabezado{
        width: 100%;
        margin: auto;
    }
    h2{
        font-size: 3rem;
        margin: 2%;
    }
    .subtitle{
        width: 100%;
        margin: 5%;
        margin-left: 10px;
    }
    .menu{
        width: 100%;
    }
    .imagonly{
        width:700px ;
        height:600px ;
        margin-right: 100px;
    }
    .contenedor_ni単o{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-right: 50px;
    }
    .imag{
        width: 300px;
        height: 300px;
    }
    .ni単o_description{
        text-align: center;
    }
    .contenedor{
        display: grid;
        margin-right: 80px;
    }
    .ropa{
        width:250px ;
        height: 300px;
    }
    footer form{
        font-size: 1rem;
        text-align: center;
        margin: 10%;
    }
    p{
        font-size: 1rem;
        text-align: center;
    }

    h3{
        font-size: 2rem;
        text-align: center;
        margin: 2%;
    }
    #tabla{
        font-size: 1rem;
        text-align: center;
        
    
    }
    .model{
        width: 220px;
        height: 220px;
        margin: 50px;
        margin-right: 12px;
    }
    .follow{
        font-size: 2rem;
        text-align: center;
    }
}


@media only screen and (max-width: 480px){

    .encabezado{
        width: 100%;
        margin: auto;

    }
    h2{
        font-size: 2rem;
        margin: 5%;
        
    }
    .subtitle{
        width: 100%;
        margin: 8%;
        margin-left: 12px;
        font-size:1rem;
        
    }
    
    .menu{
        width: 100%;
    }
    .manIndex__content{
        display: grid;
        grid-template-columns: 20%;
        grid-template-rows: 1fr;
        align-items: center;

    }
    .manIndex__content__imag{
        align-self: center;
        width: 100px;
        height: 80px;
    }
    
    .contenedor{
        display: flex;
        flex-direction: column;
    }
    .ropa{
        width: 250px;
        height: 250px;
        margin: 20px;
    }
    
    footer form{
        font-size: 10px;
        text-align: left;
        margin: 10%;
    }
    p{
        font-size: 9px;
        text-align: left;
    }

    h3{
        font-size: 25px;
        text-align: left;
        margin: 2%;
    }
    #tabla{
        font-size: 12px;
    
    }
    .model{
        width: 120px;
        height: 120px;
    }
    .follow{
        font-size: 12px;
    }

}




