
@mixin cuerpo ($desbordamiento,$fondo,$fondo-rep,$fondo-tam,$fondo-pos){
    overflow-x: $desbordamiento;
    background: $fondo;
    background-repeat: $fondo-rep;
    background-size: $fondo-tam;
    background-position: $fondo-pos;

}
@mixin text($estilo,$alineacion,$color,$ancho) {
    font-style: $estilo;
    text-align: $alineacion;
    color: $color;
    width: $ancho;
    font-size: large;
    background: linear-gradient($color-gradiente);
    background-clip:text;
    -webkit-text-fill-color: transparent;
}
@mixin navIndex($letraEspacio,$palabraEspacio){
    letter-spacing: $letraEspacio;
    word-spacing: $palabraEspacio;
}
@mixin logoTitulo($letra,$size,$fondo,$alineacion,$color,$ancho) {
    font-family: $letra;
    font-size: $size;
    background-color: $fondo;
    text-align:$alineacion;
    color: $color;
    width: $ancho;
}
@mixin menuIndex($display,$espacio,$ancho,$alto) {
    display: $display;
    justify-content: $espacio;
    width: $ancho;
    height: $alto
}
@mixin presentacionTexto($size,$estilo,$alineacion,$color,$espaciado,$posicion,$arriba,$derecha,$transformacion){
    font-size:$size;
    font-style: $estilo;
    text-align: $alineacion;
    color:$color;
    letter-spacing: $espaciado;
    position: $posicion;
    top:$arriba;
    left: $derecha;
    transform: $transformacion;
}
@mixin presentacion ($ancho,$alto,$fondoSize,$posicion,){
    width: $ancho;
    height: $alto;
    background-clip: $fondoSize;
    position: $posicion;
}
@mixin contenedor-nav($display,$jt-cont,$jt-it){
    $display:$display;
    $justify-content:$jt-cont;
    $justify-items:$jt-it;
}
@mixin anima ($nombre,$time,$metodo,$duracion){
    animation: $nombre $time $metodo $duracion;
}
@mixin keyframes($degradado){
    @-webkit-keyframes #{$degradado} {
        @content; 
    }
    @-moz-keyframes #{$degradado} {
        @content;
    }
    @-ms-keyframes #{$degradado} {
        @content;
    }
    @keyframes #{$degradado} {
        @content;
    } 
}
@mixin menus($lista,$position,$color) {
    list-style: $lista;
    position: $position;
    color: $color;
}
@mixin submenus($display,$posicion,$lista,$bg-color) {
    display: $display;
    position: $posicion;
    list-style: $lista;
    background-color: $bg-color;
}
@mixin lista($display,$izquierda,$lista,$posicion){
    display: $display;
    left:$izquierda;
    list-style: $lista;
    position: $posicion;
}