/*--Colors--/*/
$blue:    #0d6efd;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #d63384;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #198754;
$teal:    #20c997;
$cyan:    #0dcaf0;
$silver:  silver;

/*/paleta nueva de colores*/ 
$color-1:rgb(249,248,251);
$color-2:rgb(248,244,232);
$color-3:#333231;
$color-4:rgb(164,164,164);
$color-5:rgb(167,83,90);

$color-gradiente: rgb(164,164,164) 31%, rgb(167,83,90) 56%, rgba(206,208,130,1) 75%;



/*/*/

$color-texto:rgb(252,242,242);

$color-primary:black;
$font: 'Montserrat', sans-serif;
$color-secundary: #ffba79;
$color-submenu:rgb(255,255,255);
$color-h1: rgb(247,211,211);
$color-parrafos:#ffebff;
$color-divider: rgb(114,96,102);
$paddingsIndex:52px;


$background-index:linear-gradient(90deg,  #333231 5%, rgb(167,83,90) 56%, rgb(248,244,232) 100%);
$background-coleccion:rgba(205,255,226,0.6);
$background-btn:linear-gradient(to right,#CC95C0 0%, #DBD4B4  51%, #CC95C0  100%);
$backgroundMan-capa:rgba(102, 97, 104, 0.6);
$background-man:rgb(250, 218, 114);

$backgroundImage: url(/IMAGENESProyect/pexels-leo-caldas-9557619.jpg);

$width-logo:80%;

$width-menu:100%;
$height-menu:20px;

$transform: translate(-50%,-50%);
$maxPadding:100%;
$max-width:100%;
$max-height:100%;


/*-----LISTAS----/*/
$displays:(
    flex,
    grid,
    block,
    inline,
    inline-block,
);
$backgrounds:(
    linear-gradient (to right,#CC95C0 0%, #DBD4B4  51%, #CC95C0  100%),
    rgba(232,206,240,0.6),
    rgba(205,255,226,0.6),
    linear-gradient(40deg, rgba(20,65,210,1) 21%, rgba(246,129,63,1) 56%, rgba(206,208,130,1) 75%),

);

$position:(
    absolute,
    relative,
    fixed,
    static,
    sticky,
);
$overflow:(
    auto,
    hidden,
    scroll,
    visible,
);

$breakpoints:(
    sm:480px,
    md:730px,
    lg:1024px,
);
@mixin mobile-f ($breakpoint) {
    @media screen and (max-width: map-get($breakpoints,$breakpoint)) {
        @content;   
    }
}

