*{
    margin:0;
    padding:0;
}

body{
    font-family: $font;
    font-style: Thin 100 italic;
    @include backgroundBody(linear-gradient(141deg, #ccc 25%, #eee 40%, #ddd 55%),1000);
    color:#555;
    transform: translate3d(0,0,0);
   

    ul{
        list-style:none;

    }
    a{
        text-decoration:none;
        color:inherit;
    }
    hr{
        @include mobile-f(sm){
            display:none;
        }
    }
    .boton_footer{
        background:$background-index;
        border:none;
        
    }
}