.sectionFour{
    width: $max-width;
    
    &__subtitle{
        color: $color-4;
        text-align: center;

    }
    &__parrafo_style{
      @include parrafo-style(2rem,5%);
        text-transform: capitalize;
        background: $background-index;
            @include line-wipe (200% auto,text,transparent);      
            animation: shine 5s linear infinite;
            @keyframes shine {
                to {
                background-position: 200% center;
                }
            }
    }
    &__Coleccion{
        position:relative;
        margin: 0 auto;
        width: 800px;
        height: 533px;
    
        &:hover>.fotoAfter{
            width: 100%;
        }
        .fotoAfter{
            width: 0;
            transition: 3s;
            overflow: hidden;
            &:hover{
                width: 100%;
            }
        }
      
        .ColeccionBox{
            position: absolute;
            top: 0;
            left: 0;
            
           
            .japon_foto{
                width:800px;
                height:500px;
                margin: 0 auto;
               
            }
            @include mobile-f(md){
                display: grid;
                grid-template-columns: 30% 30%;
                grid-template-rows: 1fr;
                column-gap: 100px;
                justify-content: center;
    
            }
            
            
            
        }

        
    }











}