.sectionFour{
    width: $max-width;
    
    &__subtitle{
        color: $color-4;
        text-align: center;

    }
    &__parrafo_style{
      @include parrafo-style(2rem,5%);
        text-transform: capitalize;
        background: $background-index;
            @include line-wipe (200% auto,text,transparent);      
            animation: shine 5s linear infinite;
            @keyframes shine {
                to {
                background-position: 200% center;
                }
            }
    }
    &__Coleccion{
        position:relative;
        margin: 0 auto;
        width: 800px;
        height: 533px;
        @include mobile-f (sm){
            max-width:250px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            height: 300px;
            justify-content: center;
            margin-bottom:50px ;
        }
        @media (min-width:map-get($breakpoints,sm)) and (max-width: map-get($breakpoints,lg)){
            display:flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            margin-bottom:100px ;
            max-width: 400px;
        }
    
        &:hover>.fotoAfter{
            width: 100%;
        }
        .fotoAfter{
            width: 0;
            transition: 3s;
            overflow: hidden;
            &:hover{
                width: 100%;
            }
        }
      
        .ColeccionBox{
            position: absolute;
            top: 0;
            left: 0;
            
           
            .japon_foto{
                width:800px;
                height:500px;
                margin: 0 auto;
                @include mobile-f (sm){
                    width:250px;
                    height: 300px;
                    
                    
                }
                @media (min-width:map-get($breakpoints,sm)) and (max-width: map-get($breakpoints,lg)){
                    width:400px;
                    height: 500px;
                }
               
            }
            
            
            
            
            
        }

        
    }











}