main{
    .formulary{
        @include formulario (20%,500px);
        position: nth($position, $n: 2);
        
        &-title{
            display: block;
            margin: 0;
            
            @include mobile-f (sm){
                position: absolute;
                top: 0;
                left: 0;
                height: 300px;
            }
            @media (min-width:map-get($breakpoints,sm)) and (max-width: map-get($breakpoints,lg)){
                position: absolute;
                top: 0;
                left: 0;
                height: 300px;
                text-align: center;
                width: 100%;
            
            }
            
            &__gradient{     
            
                background: $background-index;
                background: linear-gradient(
                    to right, 
                    rgb(167,83,90), 
                    rgb(164,164,164),
                );
                -webkit-background-clip: text;
                -moz-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
                text-align: left;
                h2{
                    font-size:2rem;
                    font-weight: 800;
                }
                p{
                    font-size:1rem;
                    font-weight: bolder;
                }
                
            }
        }
        &__style{
            background: $background-index;
            position: nth($position, $n:1);   
            width: 300px;
            @include formulario-style (center,10%,20px,5%,50%,50%,translate(-50%,-50%));
            @include mobile-f (sm){
                margin-top: 50px;
            }
            
            
        }
    }
}