.formulary{
    @include formulario (20%,500px);
    position: nth($position, $n: 2);
    
    &__title{
        display: block;
        margin: 0;
        p{
            color:$color-3;
            font-weight: bolder;
        }
        @include mobile-f (sm){
            position: absolute;
            top: 0;
            left: 0;
            height: 300px;
        }
        @media (min-width:map-get($breakpoints,sm)) and (max-width: map-get($breakpoints,lg)){
            position: absolute;
            top: 0;
            left: 0;
            height: 300px;
            text-align: center;
            width: 100%;
           
        }
        .line-wipe{     
           
            background: $background-index;
            @include line-wipe (200% auto,text,transparent);      
            animation: shine 5s linear infinite;
            @keyframes shine {
                to {
                background-position: 200% center;
                }
            }
            @include mobile-f(sm){
                overflow: hidden;

            }
            @media (min-width:map-get($breakpoints,sm)) and (max-width: map-get($breakpoints,lg)){
                overflow:hidden;
            }
            
        }
    }
    &__style{
        background: $background-index;
        position: nth($position, $n:1);   
        width: 300px;
        @include formulario-style (center,10%,20px,5%,50%,50%,translate(-50%,-50%));
        @include mobile-f (sm){
            margin-top: 50px;
        }
        
        
    }
}
