
header{  
    position: sticky;
    top: 0;
    width:$width-menu ;
    p{
        @include text(italic,center,$color-primary,100%);
        size: 2rem;
        font-family: $font;      
        
    }
    nav{
        @include navIndex($color-primary,1px,10px,center);
        @include contenedor-nav(space-evenly,center);
        display: nth($list: display, $n:1 );

        .navbar{
            box-shadow: $cyan;
        }
        
        .baka{

        }
        .menu{
            @include menuIndex(flex,space-evenly,100%,20px);
            
            
        }
    }
    .presentacion{
        @include presentacion(100%,30px,200% 200%,relative,degradado 8s ease-in-out infinite);
        @keyframes degradado{
            0%{
                background-position: 0% 50%;
            }
            50%{
                background-position: 100% 50%;
            }
            100%{
                background-position: 0% 50%;
            }
        }
        &_texto{
            @extend %presentacionTexto;
        }
    }




    
}
