
header{  
    top: 0;
    width:$width-menu ;
    @include mobile-f(sm){
        width: $max-width;
    }
    .presentacion{
        .presentacion_texto{
            @include presentacionTexto(1rem,italic,center,$color-texto,2px,absolute,50%,50%,translate(-50%,-50%));
        }
        background:$background-index;
        @include presentacion(100%,30px,200% 200%,relative);
        @include anima (degradado, 8s ,ease-in-out, infinite);
        
        @include keyframes(degradado) {
            0%{
                background-position: 0% 50%;
            }
            50%{
                background-position: 100% 50%;
            }
            100%{
                background-position: 0% 50%;
            }
        }
        
    }
    nav{
        .logoTitulo{
            @include logoTitulo($font,2rem,$color-primary,left,$color-secundary,$width-logo);
            @include navIndex (1px,10px,);
            @include mobile-f(sm){
                font-size:1.5rem;
                overflow-x:visible;
            }
        }
        @include mobile-f(sm){
            width: $max-width;
            margin: auto;
        }
        .navBar{
            .baka{
                @include menus(none,relative,$color-h1);
                @include menuIndex(flex,space-evenly,100%,center);
                
                .submenuBaka{
                    @include submenus(none,absolute,none,$color-submenu);
                    @include mobile-f(sm){
                        display: none;
                        overflow: hidden;
                    }
                        &:hover{
                            display: block;
                            text-align: left;
                        }
                    li{
                        @include lista(inline-block,0,none,relative);
                        &:hover{
                            display: block;
                            text-align: left;
                            color: $color-texto;
                            
                        }
                    }
                }
            }
        }
    }
    
}
main{
    
    .encabezado{
        @include encabezado_content($color-primary,50px,10%,100px,100%,inline-block);
        @include mobile-f (sm){

            width: $max-width;
            height:250px;
            
        }
        @include mobile-l (sm){
            height: 250px;
        }
        
        .encabezado-h1{
            @include encabezado_h1(center,$color-h1);
            &__textoLorem{
                @include lorem (1rem,center,$color-texto,expanded);

                @include mobile-f(sm){
                    text-align:center;
                }
                @include mobile-l (sm){
                    font-size: 1.5rem;
                }
            }
        }
    }
    .manIndex{
        padding-top: 5%;
    
        @include mobile-f(sm){
            width: $max-width;
        }
        @include mobile-l (sm){
            padding-bottom: 50px;
        }
        .container-fluid{
                .row{
                    display:nth($displays, $n: 1);
                    position:nth($position, $n: 2);
                    justify-content: center;
                    @include mobile-f(sm){
                        display: flex;
                        justify-content: center;
                        position: relative;
                        height: 100px; 
                    }
                    @include mobile-l(sm){
                        display: block;
                        justify-content: center;
                        position: relative;
                    }
                    .manIndex__h2{
                        @include man-h2(49.6px,center,$color-primary,$background-man,3px);
                        @include mobile-f(sm) {
                            width:$max-width;
                            display: flex;
                            text-align: center;
                            padding: 20px; 
                        @include mobile-l(sm){
                            text-align: center;
                            width: 100%;
                            height: 90px;
                        }
                    }
                }
            }
        }
        
        .contenedorMan{
            @include contenedor-man(center,100%,50vh);
            @include mobile-f (sm) {
                position:nth($position, $n: 2);
                
            }
            figure{
                @include figura (relative,250px,300px,hidden);
                @include mobile-f(sm){
                    padding-bottom: 50px;
                }
                &:hover>.capa{
                    opacity: 1;
                    visibility: visible;
                }
                &:hover>.h3{
                    margin-top: 60px;
                    margin-bottom :20px; ;
                }
                img{
                    width: $max-width;
                    height: $max-height;
                    @include transicion(all 500ms ease-out);
                }
                .capa{
                    width: $max-width;
                    height: $max-height;
                    @include capa(absolute,0,$backgroundMan-capa,center,0,hidden);
                    @include transicion(all 500ms ease-out);
                    @include mobile-f (sm){
                        height: 250px;
                    }
                    &:hover{
                        @include hover-capa(visible,1);
                        @include transicion(all 500ms ease-out);
                        padding-top: 80px;
                        
                    }
                    h3{
                        @include h3(20px,$color-parrafos,400px);
                        @include transicion(all 500ms ease-out);
                        &:hover>.h3{
                            
                            margin-top: 60px;
                            margin-bottom :20px; 
                        }
                    }
                    p{
                        @include p ($silver,15px,1.5,100%,$max-width,auto);
                    }
                    
                }
            }
            
        }
    }
    .kidIndex{
        padding-top: $paddingsIndex;
        @include mobile-f(sm){
            width: $max-width;
            padding-top: 50px;
        }
        &__h2{
            @include kid-h2(49.6px,center,$color-primary,$background-man,3px);
            @include mobile-f(sm){
                display: flex;
                text-align: center;
                padding: 20px; 
            }
        }
        &__contenedor{
            @include kid-contenedor (50px,flex,nowrap,space-around);
            @include mobile-f (sm){
                display: flex;
                
            }
            @include mobile-l (sm){
                display: flex;
                justify-content: space-around;
                align-items: center;
            }
            &__imag{
                @include kidImag (80%,400px,400px);
                @include mobile-f(sm){
                    width:150px;
                    height:200px;
                }
                @include mobile-l(sm){
                    height: 300px;
                    width: 250px;
                }
            }
        }
        &__niñoDescripcion{
            @include kid-descripcion(32px,1rem,center,$color-texto);

        }
        
    }
    .womanIndex{
        padding-top: $paddingsIndex;
        margin:10px;
        width: $max-width;
        div{
            p{
                @include mobile-f (sm){
                    font-size: 2.5vh;
                    text-align: center;
                    margin: 12px;
                }
            }
        }
        .womanIndex__ropa{
            width: 300px;
            height: 300px;
            @include mobile-f (sm){
                width: 200px;
                height: 200px;
                border-radius: 5px;
                align-items: center;
    
            }
            @include mobile-l (sm){
                width: 200px;
                height: 200px;
            }
        }
        &__contenedor{
            @include womanContenedor(grid,33% 33% 33%,60px 0px,center);
            @include mobile-f(sm){
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 20% 20% 20%;
                column-gap: 40px;
                
            }
            @include mobile-l(sm){
                display: grid;
                grid-template-columns: 30% 30% 30%;
                grid-template-rows: 1fr;
                column-gap: 40px;
                row-gap: 30px;
            }
            grid-template-areas: "item1" "item2" "item3";
            &_1{
                grid-area: "item1";
                @include mobile-f(sm){
                    align-self: center;
                }
            }

            }
            &_2{
                grid-area: "item2";
                @include mobile-f(sm){
                    align-self: center;
                }

            }
            &_3{
                grid-area: "item3";
                @include mobile-f(sm){
                    align-self: center;
                }
            }
        }
    }
    
    
    
    .container-fluid{
        .textProducts{
            color: $color-texto;
            padding:80px;
            font-size: 3rem;
            @include mobile-f(sm){
                font-size: 2rem;
                text-align: center;
                
            }
        }
        table{
            @include mobile-f (sm){
                font-size: 15px;
                display: block;
                text-align: left;
                
            }
        }
        .tablaTodo{
            width: $max-width;
            color: $color-texto;
            padding: $maxPadding;
        }
        .tablaProducts__model{
            @include model-tabla(10px,5%,350px,$color-primary);
            @include mobile-f(sm){
                width: 150px;
                height: 150px;
            }
        }
    }
    ul{
        list-style:none;

    }
    a{
        text-decoration:none;
        color:inherit;
    }
    .boton_footer{
        background:$background-index;
        border:none;
        
    }
    .boton{
        display: nth($displays, $n: 5);
        overflow: nth($overflow, $n: 2 );
        position: nth($position , $n: 2);
        background: hsl(0, 3%, 6%);
        @include transicion (all 500ms ease-out);
        @include boton (5%,$color-parrafos,pointer,49.6px,100px,none);
        @include mobile-f(sm){
            display:none;
        }
        &::before{
            content: "";
            display:nth($displays, $n:3 );
            position: nth($position, $n: 1);
            background: $background-index;
            @include botonBefore (0,0,100%,100%,scaleX(0),100% 100%,);
            transition: transform 0.6s cubic-bezier(0.53, 0.21, 0,1);
            
        }
        &:hover{
            position: nth($position, $n: 2);
            transition: color 0.6s cubic-bezier(0.53, 0.21, 0, 1);
            &::before{
                transform-origin: 0 0;
                transform: scaleX(1); 
            }
        }
        &:hover::before{
            transform-origin: 0 0;
            transform: scaleX(1);  

        }
        span{
            position: nth($position, $n: 2);
            transition: color 0.6s cubic-bezier(0.53, 0.21, 0, 1);
            &:hover{
                color:$color-h1;
            }
           
        }

        &:hover >span{
            color:$color-h1;
        }
    }

    





