main{
    .sectionThree{
        padding-top: 2%;
        @include mobile-f (sm){
            width: 100%;
        }
        &__subtitle{
            @include subtitleCategories (3px,20px,8px,$color-submenu,rgb(0,0,0));
            
        }
        &_parrafoStyle{
            color: $color-parrafos;
            
            @include parrafo-style (2rem,5%);
            @include mobile-f (sm){
                font-size: 50px;
            }
            background: $background-index;
            @include line-wipe (200% auto,text,transparent);      
            animation: shine 5s linear infinite;
            @keyframes shine {
                to {
                background-position: 200% center;
                }
            }
            
            
        }
        &__modelsMan{
            @include modelsMan (34px,120px,flex,space-evenly,30px,center);
            @include mobile-f (sm){
                display: nth($displays, $n: 1);
                flex-direction: column;
                justify-items: center;
                justify-content: space-around;
            }
            .fotoBig{
                position: nth($position, $n:2 );
                height: 400px;
                @include mobile-f(sm){
                    padding-bottom: 30%;
                }
              
                h5{
                    color:$color-texto;
                    @include h5 (0.8rem,oblique,capitalize,lighter);
                }
                div{
                    position:nth($position, $n:2 ) ;
                    overflow: nth($overflow, $n:2 );
                    border-radius: 4px;
                    
                    &:hover>.fotoBig_capa{
                        opacity: 1;
                        top: 90%;
                        visibility: visible;
                    }
                    .sectionThree__basis{
                        @include transicionBasis (all 300ms ease-in-out);
                        @include sectionBasis (500px,400px);
                        @include mobile-f(sm) {
                            width: 250px;
                            height: 200px;
                            padding-bottom: 15%;
                        }
                        
    
                        &:hover{
                            @include imagenBasis(10px 10px 5px grey,550px,translate(0,-7px),$color-primary);
                        
                        }
                    
                    }
                    
                    .fotoBig_capa{
                        background: $backgroundMan-capa;
                        @include transicionBasis (all 500ms ease-out);
                        @include big-capa (absolute,0,100%,100%,start,0,hidden);
                        @include mobile-f (sm) {
                            width: 250px;
                            height: 200px;
                        }
                        
                        
                    }
                }
            }

            .vl{
                border-left: 10px solid rgb(114, 96, 102);
                height: 400px;
                @media (max-width:480px) {
                    display: none;
                }
            }  
                
        
            .Fotos{
                position: nth($position, $n:2 );
                @include fotos(250px,1px black,bold);
                @include mobile-f (sm){
                    padding-bottom: 30%;
                }

                h5{
                    color:$color-texto;
                    @include h5 (0.8rem,oblique,capitalize,lighter);
                }
                
                div{
                    overflow: nth($overflow, $n:2 );
                    position: nth($position, $n:2 );
                    border-radius: 4px;
                    &:hover>.Fotos__capa{
                        @include hoverMans (1,visible,90%);
                        
                    }
                    &:hover>.sectionThree__imageh{
                        height: 20rem;
                        width: 15rem;
                        @include transicionBasis (all 300ms ease-in-out);
                        @include mobile-f (sm){
                            width: 230px;
                            height:230px;
                        }
                        
                    }
                    .sectionThree__imageh{
                        @include imageh (200px,300px,center);
                        @include transicion (all 500ms ease-out);
                        @include mobile-f(sm){
                            width: 200px;
                            height: 200px;
                            padding-bottom: 15%;
                            padding-top :15%; 
                        }
                        
                    }
                    .Fotos__capa{
                        background: $backgroundMan-capa;
                        @include transicionCapa (all 500ms ease-out);
                        @include imageh-capa (absolute,0,100%,100%,center,0,hidden);
                        @include mobile-f (sm) {
                            width: 200px;
                            height: 200px;
                        }

                    }
                    
                }
            }
        }
        
    }

    .contenedorCalzado{
        @include mobile-f(sm){
            width: 100%;
            margin-right: 100px;
        }
        &__subtitulo{
            text-align: center;
            padding: 15vh;
            @include mobile-f(sm){
                font-size: 1rem;
            }
        }
        &__urbans{
            display: nth($displays, $n: 2);
            @include urbans(30% 30%,1fr 1fr,12px,20px,40px 0px ,center);
            grid-template-areas: "item1" "item2" "item3" "item4";
            @include mobile-f (sm){
                display: grid;
                grid-template-columns: 28% 28%;
                grid-template-rows: 1fr 1fr;
                justify-content: center;
                align-items: center;
                column-gap: 50px;
            }
            .contenedorCalzado__adidas{
                grid-area: "item1";
            
            }
            .contenedorCalzado__adidas-2{
                grid-area: "item2";
            
            }
            .contenedorCalzado__nike{
                grid-area: "item3";
            
            }
            .contenedorCalzado__newBalance{
                grid-area: "item4";
            
            }
            .cards{
                overflow: nth($overflow, $n: 2);
                @include transicionBasis(all 300ms ease-in-out);
                @include boxShadow (0 2px 4px $color-divider,8px);
                @include  mobile-f(sm) {
                    width:150px;
                    margin:0;
                    align-self: center;
                }
                &:hover{
                    transform:translateY(-20px);
                    box-shadow: 0,12px,16px $color-divider;
                }
                .contenedorCalzado__shoe{
                    @include shoes(350px,300px,center,20px);
                    @include mobile-f (sm){
                        width: 200px;
                        height: 200px;
                    }
                }
            }
        }
    }
}