
main{
    .sectionTwo_subtitle{
        @include mujer-subtitle (3px,20px,8px);
        padding-bottom: 50px;
        color: $color-4;
    
    }
    .sectionTwo__carouselImag{
        border-radius: 10%;
        width: $width-max;
        height: $height-min;
    }
    .sectionTwo__womanRopa{
        width: $width-max;
        height: 450px;
    }
}